[2019-08-22 11:22] ebartz opened #2 "TrainHub Does not seem to work"
Hi There,

when I flash the train_esp example to my esp32, it is able to connect to the hub and also change the LED color. But it seems like it is not sending the right command for controlling the motor speed.

I tried both of the ports. Maybe this does not work for me, since lego installed an update to my hub when I used the PoweredUP App on iOS?

Thanks for helping me out :)

[2019-08-22 12:41] ebartz commented on #2
I don't really know why this is the case, but when I change the byte sequence I am able to control the train speed:

https://github.com/ebartz/legoino/commit/340cd046b34cf732f845e13bdb6d2634071e0612

I have looked at the node-poweredup project did here:
https://github.com/nathankellenicki/node-poweredup/blob/master/src/puphub.ts#L129

Maybe this is due to firmware updates on the hub?

[2019-10-05 20:43] docteurzoidberg opened #3 "Boost hub motors not seems to work with latest firmware"
Tested with the lego star wars boost r2d2 droid with latest firmware:

I managed to get connected to hub , set the leds, but no motors actions seems to work.
Shutdown worked fine also

[2019-10-05 20:52] docteurzoidberg commented on #3
i made moto spinning by doing:

myBoostHub.setMotorSpeed(BoostHub::Port::C , 25);
delay(2000);
myBoostHub.setMotorSpeed(BoostHub::Port::C, 0);

but it's not the C channel motor wich spins*

[2019-10-05 21:16] docteurzoidberg commented on #3
class BoostHub : public Lpf2Hub
{
public:
    //Port definitions specific to Boost Hubs
  enum Port
  {
    A = 0x00,
    B = 0x01,
    AB = 0x10,
    C = 0x02,
    D = 0x03,
    TILT = 0x3A,
    CURRENT = 0x3B,
    VOLTAGE = 0x3C
  };

[2019-10-06 08:25] docteurzoidberg commented on #2
@ebartz check my issue about star wars boot hub it may helps !

[2019-10-06 20:15] corneliusmunz commented on #3
@docteurzoidberg Thanks for reporting that issue. Unfortunately i have not done so much in the last months but definitely lego has changed the port assignments in the hub updates. In the official documentation this is not commented but in the superb node project from @nathankellenicki i found also the port changes too (https://github.com/nathankellenicki/node-poweredup/commit/7b61b6981a0b3a5f6ae8a

[2019-10-06 21:33] corneliusmunz commented on #2
@ebartz Thanks for reporting that issue. I think the powered up Hub update has changed the commands. I have checked it on my train hubs and your changes works. The AB Port does not work even with the Port changes proposed by @docteurzoidberg. I think for the train hubs you can only access specifically Port A or Port B and not both at the same time. I will change the library with your input and wil

[2019-10-06 21:40] #2 closed

[2019-10-06 21:41] corneliusmunz commented on #2
@ebartz Fixed with commit: https://github.com/corneliusmunz/legoino/commit/ae75825918beacf1338814acbf75eb44d5a72bb8

[2019-10-06 21:42] corneliusmunz commented on #3
@docteurzoidberg: Fixed with the following release: https://github.com/corneliusmunz/legoino/releases/tag/0.3.0

[2019-10-06 21:42] #3 closed

[2019-11-15 02:07] boomboomsatellites opened #5 "The motor does not rotate"
Hi !,
I'm trying to move the sample, but the motor doesn't move.

The LED seems to work.

Please tell us the Firmware version of Boost that you are testing.

This uses the latest version 1.0.00.022.

Thank you for your answer.

[2019-11-15 08:49] corneliusmunz commented on #5
Hi @boomboomsatellites! Thanks for reporting that issue. Just a view questions:
* Which example *.ino do you have used?
* Which Hardware do you use
* Does the LED colors are changing?
* Do you have connected your Boost Hub via the official LEGO APP?

I will check my hub firmware version and give feedback if i am back at home

[2019-11-16 09:33] corneliusmunz commented on #5
@boomboomsatellites I have checked my firmware and Hardware version and i have a newer one. Lego has changed port assignments and maybe thats the problem in turning your motors. Just connect with the Boost App to your hub and then the firmware update will start. After the firmware ist flashed to the current version the examples in the library should work

Firmware version major:2 minor:0 bugfix:0

[2019-11-18 13:14] boomboomsatellites commented on #5
Sorry for being late.

- Which example *.ino do you have used?
 BoostHub,PowerdUpRemoteBoost.ino

- Which Hardware do you use
 Lego Boost&M5stickC
https://www.lego.com/ja-jp/service/device-guide/boost
https://m5stack.com/products/stick-c

- Does the LED colors are changing?
 The LED did not change.It was a misunderstanding

- Do you have connected your Boost Hub via the official LEGO APP?
 Yes. Co

[2019-11-19 21:10] corneliusmunz commented on #5
@boomboomsatellites Strange... i have checked it again with the current release and current firmware and the BoostHub.ino example file and it works fine. I think the BLE connection works on your side because you receive Log messages with the Firmware and Hardware version. So i am a little bit confused and have no idea what is going wrong.

Can you do the following procedure:
* power up your arduin

[2019-11-21 12:40] boomboomsatellites commented on #5
Hello @corneliusmunz

The Arduino currently in use does not work.

I'll try using another Arduino.

It was over trouble.

It will end.

[2019-11-21 12:40] #5 closed

[2020-02-12 06:31] GianCann opened #9 "Multiple Hub?"
Hi,
it's possible to connecr/control more than one hub with ESP32?

[2020-02-12 06:52] GianCann commented on #9
Ok, sorry... I've seen the code of PoweredUpRemoteAutoDetection example and it's possible ;)

[2020-02-12 06:52] #9 closed

[2020-02-12 07:12] corneliusmunz commented on #9
Yes it’s possible! Thanks for closing the issue 👍🏻😀

[2020-02-18 21:02] GianCann opened #10 "Impossible to connect more than 3 hubs"
I have 10 PUP Smart Hubs, but i don't have success to connect more than 3 hubs simultaneously.
When i try to connect the fourth hub, the program stop execution...

[2020-02-19 07:37] GianCann commented on #10
I've a lot of hubs to test the library ;)
![IMG_20200219_083646](https://user-images.githubusercontent.com/45897944/74812061-1325db00-52f3-11ea-9d56-deff8a5a85a3.jpg)

[2020-02-19 11:23] corneliusmunz commented on #10
@GianCann Wow... thats a cool Setup! Beside the issue i am really interested what type of usecase you have. But now to the issue:

I think it is related to the esp32 board/hw configuration where you can define the maximum number of allowed BLE connections. This is by default set to :
https://github.com/espressif/arduino-esp32/blob/13e02063d63146096952fc6a6ef0bc3ced5b1203/tools/sdk/sdkconfig#L186

[2020-02-19 11:29] corneliusmunz commented on #10
@GianCann  maybe you can set the debug level of your esp device in the arduino environment to VERBOSE. If you have changed it i am interested in the log output when it crashes...
https://github.com/nkolban/esp32-snippets/blob/master/cpp_utils/ArduinoBLE.md#switching-on-debugging

[2020-02-19 11:32] corneliusmunz commented on #10
@GianCann Sorry for spamming you with comments... If it is not possible to go above max 8 connections maybe we can think of different esp's which have a wifi or socket connection and one of the esp's is the master and the other are the slaves

[2020-02-19 11:35] GianCann commented on #10
@corneliusmunz  it's not a problem ;)
Anyway, 8 device it's a good chance to manage a train layout ;)
Can you tell me where I can chance the CONFIG_BTDM_CONTROLLER_BLE_MAX_CONN parameter?

[2020-02-19 12:03] GianCann commented on #10
Ok, I need to recompile the entire SDK for ESP32-Arduino...
I will tryed to do ;)

[2020-02-24 20:19] corneliusmunz commented on #10
@GianCann I tried to recompile the esp32 sdk and changed the BLE configuration but unfortunately i cannot connect more than 3 controllers. I am not shure if i have done all the recompilation in the right way and i am not shure if the arduino IDE uses really the recompiled *.a libraries. I will dig a littlebit deeper into that issue and try to solve it

[2020-02-26 09:38] GianCann commented on #10
Hi @corneliusmunz , thank to my friends @ivanporro, I also managed to recompile the esp32-arduino library, modifying these parameters

CONFIG_BTDM_CONTROLLER_BLE_MAX_CONN=9
CONFIG_BTDM_CONTROLLER_BLE_MAX_CONN__EFF = 9
CONFIG_BT_ACL_CONNECTIONS = 7

Now, what other steps did you follow?

[2020-02-26 21:26] ivanporro commented on #10
Hi @corneliusmunz  I did a step further.

I've managed to include arduino libs plus Legoino as libraries inside a project compatible with the ESP SDK structure.
I've added the library sources as for other libraries then modified the includes in CMakeLists.txt to make sure al the cpp files from your lib are included.
I'am about to have a working compiled .elf for an ESP32, however it dies close to

[2020-02-26 22:12] ivanporro commented on #10
Well, just for the record we managed to compile it but suppressing some warning being treated as error in::

...../esp-idf/tools/cmake/idf_functions.cmake

list(APPEND compile_options "-Wall"
                                "-Werror=all"
                                "-Wno-error=unused-value"
                                "-Wno-error=maybe-uninitialized"
                                "-Wno-e

[2020-02-27 08:05] GianCann commented on #10
Hi @corneliusmunz

Can you tell me your steps? I want to verify with my owns.

[2020-04-16 18:13] Hoelle1010 opened #11 "Status --> is connected for train hub"
Hello Cornelius,

first thanks lot lot for your fantastic work on the legion library. It works super for my train hubs.

I have one question. I want to implement a LED on the ESP32 to show if and which train is connected. Unfortunately the command "isConnected" shows me just the lastet status. So if I turn off the train hub the "isConnected" still is "1 or true". Is there any way to check if the c

[2020-04-19 19:53] corneliusmunz commented on #11
Hi @Hoelle1010! Thanks for your issue! Thats a good request. I think this could be handled with the disconnect event of the BLE library which is be used by the legoino lib: https://github.com/nkolban/ESP32_BLE_Arduino/blob/adc2aee2f0d01eb6b30dd5ad3589f2cc89934beb/src/BLEClient.cpp#L190

I will check it and evaluate if i can add a callback function if a disconnect appears. You are also free to do a

[2020-04-22 12:29] AlbanT opened #12 "Would it be feasable to have an ESP32 behave like an hub?"
First of all, thanks a lot for this project!!! I have some issue s starting the hub but I'll try to debug that a little further before submitting it as an issue.
In the meantime I had this brainwave:
_Maybe not completely in the scope of this project but I would like to be able to have the Powered Up /Boost App to reconize and connect to an Arduino kind of devices as an hub.... This way it would b

[2020-04-22 12:51] corneliusmunz commented on #12
@AlbanT That would be a very cool idea. If i find time, i will try it out if it is possible (should be) to be recognized as an hub by the app. I think if you have the right UUID (constant for all powered Up / Boost / Control plus hubs) and send some meaningful firmware version it should be possible. Thanks for that input

[2020-04-22 20:59] corneliusmunz commented on #11
Hi @Hoelle1010! I have evaluated that issue and have done a quick fix. Now the disconnect callback of the BLEDevice is used to update the ```isConnected()``` status. You can try it out with the newest [0.6.2](https://github.com/corneliusmunz/legoino/releases/tag/0.6.2) release. This should be available in the arduino library manager overnight. Hope this will work for you. You can check the behavio

[2020-04-24 17:28] AlbanT opened #13 "Typo in README.md"
According to the README the LED colours are:

But **LIGHT_BLUE** should have been **LIGHTBLUE**

[2020-04-24 17:33] AlbanT opened #14 "Some issue sconnecting for the first time"
Not sure why but my ESP32 won't connect if the Movehub has been turned of for a longer period of time.
When I connect it first to the Powered Up app on my phone and then close the app again the ESP connects without any problems. But when I try to do it without "waking" the hub (Boost Movehub) with the app the ESP won't connect.
Does this sound familiar?

[2020-04-24 17:50] corneliusmunz commented on #13
@AlbanT Thanks for reporting that. I have corrected it with the latest commit: https://github.com/corneliusmunz/legoino/commit/edc40fa058e640bf455411be0708832a0e13b093

[2020-04-24 17:50] #13 closed

[2020-04-24 17:54] corneliusmunz commented on #14
@AlbanT Up to now that don't sound familiar to me. I will check it but normally during testing and using the lib i do not connect to the app and directly connect the hub to the esp32 controller. My procedure is:
1) Power on the esp32 controller
2) Power on the hub by pressing the hub button

Sometimes the connection does not work an i have to press the reset button on my esp32 board.

I try to che

[2020-04-27 14:41] corneliusmunz commented on #11
Hi @Hoelle1010 any feedback on that issue. Is it resolved with the latest release?

[2020-04-27 14:57] Hoelle1010 commented on #11
Hello Cornelius,

This was very fast and it is working perfect for me.
Many, many thanks.

Regard Hölle

[2020-04-27 14:57] #11 closed

[2020-04-27 15:09] corneliusmunz commented on #11
@Hoelle1010 perfekt! Thanks for your fast feedback and the closure of the issue. If you like you can star the repo :-)

[2020-04-27 15:33] Hoelle1010 commented on #11
Yes, of course. Unfortunately I am new at github, so I do not know all functions, yet.

[2020-05-31 04:43] marcrupprath commented on #12
I start working doing so with Arduino BLE
Most important issue: Advertise manufacturere Data , too.
Currently an issue inside the Arduino BLE lib., Never tried with ESP32

Another milestone: Read Sendor data from coneted devices, like Motor.
The vasics iff the serial protocoll are documentated by philo here:
https://www.philohome.com/wedo2reverse/protocol.htm

I was able to follow init phase with

[2020-06-02 19:58] colas-sebastien opened #15 "Library compatibility problem"
Hi,

The Legoino library is not compatible with the M5Stack / M5StickC Library due to re-declaration of colors.
I propose to rename the color in the library like that (file `Lpf2Hub.h`) :
[code]

[2020-06-02 20:30] corneliusmunz commented on #15
Hi @colas-sebastien ! Thanks for the hint. Can you copy me the compiler error and show me where the  declaration in the M5Stack/Stick Library is?

[2020-06-02 20:42] colas-sebastien commented on #15
Hi @corneliusmunz ,
It seems the problem only occurred with the M5StickC library.
Here is my use case:
[code]

The output of the compiler:
[code]

[2020-06-03 07:16] corneliusmunz commented on #15
Hi @colas-sebastien ! Thanks for sharing the code and warning 👍 . Now it is clear. The MStickC Lib had defined some preprocessor macros:
`#define BLACK               0x0000      /*   0,   0,   0 */`
https://github.com/m5stack/M5StickC/blob/1befa455553c965aeb7c91e8515a9f192310f7b4/src/utility/ST7735_Defines.h#L94

This macros will be replacing all occurences of color names with the values on the ri

[2020-06-03 08:10] corneliusmunz commented on #15
@colas-sebastien  I have also opened an issue on the m5stick lib because there are namespaced color defines available and in my point of view the color defines which causes the problem could be replaced on the m5 side.
Opened Issue: https://github.com/m5stack/M5StickC/issues/113

[2020-06-03 15:44] colas-sebastien commented on #15
OK thanks for that,
let me know when the problem is solved.
For the moment I use my solution by renaming color in leoino enum.

[2020-06-27 09:03] jabrena opened #16 "Support for Control+"
Hi,

Is the library compatible with LEGO control+?

[2020-07-09 21:57] corneliusmunz commented on #16
Hi @jabrena ! I‘m working on the support for Control+ but it will take some time. But in the meanwhile you can use the work of the following Pull-Request. I will not merge it because I will structure it a little bit different but it works: https://github.com/corneliusmunz/legoino/pull/6

[2020-07-15 20:32] marcrupprath commented on #12
Hello,
due to some issues with ArduinoBLE and Scan Response data i switch to ESP32 as starting point for my HUB
Currently i managed to sucessfully connect ESP32 to LEGO Control + and Powered UP APP.

Very basis scetch is as follows:
`
/*
    Based on Neil Kolban example for IDF: https://github.com/nkolban/esp32-snippets/blob/master/cpp_utils/tests/BLE%20Tests/SampleServer.cpp
    Ported to Arduino

[2020-07-15 20:52] corneliusmunz commented on #12
@marcrupprath  how cool is that 👍 👏  ! The idea of @AlbanT  is working (at least the connection works which is a very good starting point) This enables it to use a custom motor or an old PoweredUp motor. I have to defenitely try that out 😄

[2020-07-15 21:10] marcrupprath commented on #12
The idea can be extended in a wide area of solutions:

 - use custom motors of choice
 - use Motor drivers of choice

My intention was a litle bit different:
Because the plugs and sockets for the new otors and sensors are available now, i wan't to use them , too

From my point of view it will be interesting using the several sensors of Motor encoder, color sensor , etc-

You may know:
https://www.

[2020-07-16 05:56] corneliusmunz commented on #12
@marcrupprath thanks for that input and the informations. I have tested your code and could connect the PoweredUp App on my iPhone to the esp32 controller. Now i will test to read out different commands and maybe integrate your code into the repository. Would this be ok for you?

[2020-07-16 06:24] marcrupprath commented on #12
Would be nice and interesting to follow your progress.
Feel free to use my code or own solution ;-)
Would be nice if you will share your experience how you handled LEGO sensors and serial proocoll in real project / lib

Right now I just wantedto push and support the idea of  Alba a litle bit ;-)

[2020-07-17 17:56] marcrupprath commented on #12
Hi,
Had a dicussion about a usefull product idea with Werner (LOK24). About some kind of "Man in the midle" between LEGO Apps and HUB,

My idea is some kind of "Recoder and Player" for powerd up programms  --> JSON Projects.
As a starting point, why not using a hardware lattform like this:

https://www.hardkernel.com/shop/odroid-go/

or even the M5 Stack with Faces kit as starting point.

1-st Ide

[2020-07-19 19:30] GianCann commented on #12
This is my starting point:
https://github.com/GianCann/ATS/blob/master/ESP32_LEGO/PUPHubEmulator.ino

Video:
https://youtu.be/vdZUJM3Gj-o

[2020-07-26 14:12] colas-sebastien commented on #15
Hi Cornelius,

My code that use you library is available on my github repo:

https://github.com/colas-sebastien/M5StickC-joystick-lego-powerup-batmobile

Regards,
Sébastien

[2020-07-26 20:50] corneliusmunz commented on #15
@colas-sebastien Very cool! Do you have a short video?

[2020-07-31 11:43] ThorstenBenter opened #17 "Support for "StartSpeed" sub command 0x07/0x08"
Der Cornelius,
first of all, thank you very much for all your efforts and the really nice software your have created. Because I became aware of legoino, I got myself an ESP32 dev board - installed all the things required and it just was going like a charm: Can control the PoweredUp hub (2I/O) using your software.
I also got myself the LEGO crocodile, and a Pup L Motor. I am programming my own piec

[2020-07-31 21:04] corneliusmunz commented on #17
@ThorstenBenter Hi Thorsten! Cool project and VB6 is totally fine :-) I will have a look on the specific command for the Pup L Motor and will try it out. I will give you feedback if it works. If it works i will update the library and release a new version

[2020-08-05 09:51] GianCann commented on #10
After some time...
https://www.youtube.com/watch?v=vOMIabLJhak

Here the solution:
https://github.com/h2zero/NimBLE-Arduino/issues/99#issuecomment-668690196

[2020-08-15 15:01] jabrena opened #18 "Is it possible to get tacho motor data?"
I would like to know if it is possible to read tacho in the same way that this library:
https://github.com/nathankellenicki/node-poweredup/issues/32

Regards

Juan Antonio

[2020-08-18 14:46] corneliusmunz commented on #18
Hi @jabrena I have one example (BoostHubRotationSensor.ino) for the Boost Tacho Motor but it should work in a similar way for the Control+ Hub with a connected Tacho Motor: https://github.com/corneliusmunz/legoino/blob/edc40fa058e640bf455411be0708832a0e13b093/examples/BoostHubRotationSensor/BoostHubRotationSensor.ino#L47

[2020-08-18 17:30] jabrena commented on #18
This week, I will receive the board:
https://store.arduino.cc/arduino-nano-33-ble

![image](https://user-images.githubusercontent.com/147263/90545576-23771f80-e189-11ea-838a-9db9b32baf59.png)

I would like to test the library with the board and test the support with Control Hub:

![image](https://user-images.githubusercontent.com/147263/90545677-486b9280-e189-11ea-9e46-df8aaa0f008b.png)

Cheers

J

[2020-08-18 20:52] corneliusmunz commented on #18
Hi @jabrena I think it will not work out of the box because the library supports up to now only boards with the Esp32 chip 🙁 I have to check if the official Arduino BLE lib will also work. Looking forward to your experiences

[2020-08-19 16:18] jabrena commented on #18
SeeKool Tablero de Desarrollo ESP-32 ESP-32S WiFi + Bluetooth 2-en-1 Dual Core Módulo de Antena de 2.4 GHz con Antena RF Amp Filtro Ap STA Arduino IDE, Ultra-Low Power (1 pcs) (1 Pc) https://www.amazon.es/dp/B07DPP3BGZ/ref=cm_sw_r_cp_api_i_BbvpFbJK7BRP1

[2020-08-19 16:58] corneliusmunz commented on #18
@jabrena Yes, this board is compatible

[2020-08-19 17:11] jabrena commented on #18
I have just ordered it.

In the other hand, I would like to understand the response from Technic Hub:

[code]

- What is the purpose of the 3 different services?
- If I want to change the led color in Control hub, in what Service Should I have to send?
- What is the concept about Characteristics? In the context of Control hub, what is purpose of the characteristics?

I try to understand and learn

[2020-08-19 20:18] corneliusmunz commented on #18
Hi @jabrena ! Services and Characteristics are BLE terms of the so called GATT Bluetooth Low energy protocol. You can find a good overview on the following site: https://learn.adafruit.com/introduction-to-bluetooth-low-energy/gatt The last service and characteristic is the Lego powered up characteristic for nearly all hubs (except the wedo hub)

[2020-08-29 13:11] lucadentella opened #19 "Is it possible to auto-detect connected devices?"
Hi!
Is it possible to detect what is connected to a specific port?
I'm playing with Technic Hub and the official Lego app is able to perform a connection-check when selecting the model to control.
I thought I could use the **getDeviceTypeForPortNumber()** method but it always return "0" even if a motor is connected to the specified port and I can control it with **setMotorSpeed** commands.

Thanks

[2020-08-29 15:17] GianCann commented on #19
Hi @lucadentella ,
which type of motor you have connected to the hub?

[2020-08-29 15:20] GianCann commented on #19
Here you can find more "Device Id" related to LPF2 sensor/motor that not are listed in getDeviceTypeForPortNumber()

https://github.com/GianCann/technical-info/blob/master/assigned-numbers.md

[2020-08-29 15:26] GianCann commented on #19
Take in mind that the LWP Protocol implement a event notification when you attach/detach a device from the Hub:
https://lego.github.io/lego-ble-wireless-protocol-docs/index.html#hub-attached-i-o

[2020-08-31 06:51] lucadentella commented on #19
Thanks! I connected both Control+ XL Motor and Control+ Large Motor (the ones included in Technic Control+ Sets) but I get "0" for both of them.

I enabled the logging feature of the library and I discovered something "strange".
The code of `byte Lpf2Hub::getDeviceTypeForPortNumber(byte portNumber)` loops on this variable: **numberOfConnectedDevices** but when the library prints out its value (`LO

[2020-08-31 08:12] GianCann commented on #19
@lucadentella when a device is connected to the hub, the hub send a Port Message (0x04) to inform that a device is attached or detached.
When is an 'attached' message, the message contains some info about the device: the Device Id Type, the port where is attached and the hardware firmware version.
See the 'notifyCallback' function, that call the parsePortMessage.

I think that the problem is in pa

[2020-08-31 08:21] corneliusmunz commented on #19
@GianCann you are right. The attach message is evaluated in the following function:
https://github.com/corneliusmunz/legoino/blob/edc40fa058e640bf455411be0708832a0e13b093/src/Lpf2Hub.cpp#L423
But unfortunately the function only logs a message and does not call the following method which "stores" the attached device in a local struct array with the device information. I will check that and correct

[2020-08-31 08:35] GianCann commented on #19
@corneliusmunz  Unfortunately, in these days, I have a lot of things to do otherwise I would helped you to improve the library
Off topic: @lucadentella sono quasi certo di averti scritto una email o un messaggio tramite il tuo sito, nelle passate settimane riguardo ESP32 e il limite delle connessioni BLE...

[2020-08-31 12:17] lucadentella commented on #19
@corneliusmunz I added some printouts to the `parsePortMessage` method and, as soon as the hub is connected, I receive the following messages which seem correct (I connected two Large Motors - code 2E - to port A and B)

[code]

[2020-08-31 12:25] GianCann commented on #19
Yes, it's all correct.
The other device are the internal sensor (battery, current, gyro) and LED Light ;)

[2020-08-31 12:37] lucadentella commented on #19
only one dubt... Powered Up hub IMU temperature (type 3C) seems connected to two ports (3D and 60).
BTW I wasn't able to find your message regarding esp32... :/

[2020-08-31 12:38] lucadentella commented on #19
only one dubt... Powered Up hub IMU temperature (type 3C) seems connected to two ports (3D and 60).
BTW I wasn't able to find your message regarding esp32...

[2020-08-31 13:06] GianCann commented on #19
Which hub you hare using?

Ok, no problem (in the meantime, we have resolved the issue: https://github.com/corneliusmunz/legoino/issues/10 )

[2020-08-31 13:09] GianCann commented on #19
Note: If you use the Technic Hub (aka Control+ HUB) it have two temperature sensor. One internal on the STM32, and one external.

[2020-08-31 20:33] #14 closed

[2020-08-31 20:52] #15 closed

[2020-09-05 16:52] corneliusmunz commented on #19
@lucadentella the `getDeviceTypeForPortNumber` function should work on a feature branch. Would be great if you could check it with that feature branch and possible give me feedback. I have checked it on my side and you can now fetch the devices on a specific port even if several hubs are connected. If you have checked it i will merge the branch into the main branch and generate a new release. The

[2020-09-05 22:57] corneliusmunz commented on #19
@lucadentella The issue should be fixed with the new 0.7.0 release: https://github.com/corneliusmunz/legoino/releases/tag/0.7.0

[2020-09-05 22:58] corneliusmunz commented on #16
@jabrena With the new release version 0.7.0 the support of the Control+ Hubs are added: https://github.com/corneliusmunz/legoino/releases/tag/0.7.0

[2020-09-05 23:00] corneliusmunz commented on #10
@GianCann With the release version 0.7.0 and the switch to the NimBLE-Library (version 1.0.1) it is possible to connect to up to 9 devices. Thanks again for pointing me in the direction of the new NimBLE-Library and for testing it with up to 9 hubs. Looking forward to your cool projects :-)

[2020-09-06 16:14] jabrena commented on #16
Many thanks,

I received the board, but I was on holidays and I could deploy any code in the board. Next week, I will give you feedback.

Cheers

[2020-09-07 06:46] lucadentella commented on #19
@corneliusmunz confirm, I've tested now! Thanks for your effort, I'm closing this issue.

BTW a suggestion: the new version requires NimBLE library, you could add it as a **dependency** in your manifest so that when a user install Legoino from the Library Manager, it automatically suggests also to install NimBLE.

[2020-09-07 06:46] #19 closed

[2020-09-07 06:48] corneliusmunz commented on #19
@lucadentella Super! Thanks for testing and very good hint with the link to the dependency. I was not aware of that feature.

[2020-09-07 12:50] corneliusmunz commented on #19
@lucadentella  I have released a new version 0.7.1 where i have added the dependent library in the properties file. Now the Arduino Library manager will detect the dependent library automatically

[2020-09-12 21:14] corneliusmunz opened #20 "Add method to get the address of a specific hub"
Sometimes it is helpful to get the specific address of a hub. This could be added to the Base lpf2hub class.

[2020-09-12 21:43] corneliusmunz opened #21 "Check getHubType Function"
Some users reported that from version 0.7.0 on the getHubType function does not work as expected: https://gitter.im/legoinochat/community?at=5f5b395bdf4af236f9fda9b1

[2020-09-13 16:13] corneliusmunz commented on #21
It seems that the switch of the BLE library changed the behaviour. If i use the 0.6.2 lib it works as expected. With 0.7.0 and above it doesn't work. The Advertisment message is different. Maybe it is a timing Problem. It seems that the NimBLE lib only receives the last part of the message and the hub type information is before the last part of the message after the pattern ```0x09, 0xFF```

Adver

[2020-09-14 10:09] corneliusmunz commented on #21
After some more evaluation it seems that the ```m_payload``` member variable is overwritten every time so the overall payload could not be consumed:

[code]

If the two payloads are concatenated, the overall payload is the same as in the "old" BLE library

[2020-09-14 19:38] corneliusmunz commented on #21
Fixed with the following release: https://github.com/corneliusmunz/legoino/releases/tag/0.8.1

[2020-09-14 19:38] #21 closed

[2020-09-14 19:38] corneliusmunz commented on #20
Added with the following release: https://github.com/corneliusmunz/legoino/releases/tag/0.8.1

[2020-09-14 19:38] #20 closed

[2020-09-15 20:16] #16 closed

[2020-09-15 20:17] corneliusmunz commented on #10
I have added a short documentation what is needed to connect to more than 3 hubs: https://github.com/corneliusmunz/legoino#connection-to-more-than-3-hubs

[2020-09-15 20:17] #10 closed

[2020-09-15 20:20] #18 closed

[2020-09-26 22:08] corneliusmunz commented on #12
@GianCann Very good starting point and i have used your code to build a first draft of a legoino version of your code where you can emulate a hub. I have tried to connect with that idea a "old" powerfunction train motor with the powered up hub. With the Atom M5 it is possible to directly use the IR LED on the board to send out power function commands. I have pushed the changes on the following fea

[2020-09-28 21:27] cougarek opened #22 "Lego Duplo PoweredUp trains"
Are Lego Duplo trains 10874 and 10875 supported?

[2020-09-28 22:07] corneliusmunz commented on #22
Hi @cougarek! Yes, in principal this should be possible by using the PoweredUpHub class (Train hub) to control the connected motor (use port A (0x00) as port) For the Speedometer, Speaker and Color Sensor i think the library need some adaptions. Unfortunately i have no Duplo train set available and therefore it is difficult for me to test. I will have a look on the specification about Speaker and

[2020-09-29 08:06] cougarek commented on #22
Hi, sure, I can do some tests. I have ESP32 module coming in two days.

[2020-10-01 18:39] cougarek commented on #22
I just flashed ESP32 with TrainHub.ino example. The hub is connecting, the motor is working, but LED is not changing color. I also tried TrainColor.ino example but color sensor is returning 0 all the time. Are there any tests I can do for you?

[2020-10-03 22:27] corneliusmunz commented on #22
Hi @cougarek

regarding the Hub LED you can try to use the following commands. The Port number ob the Hub LED for the Duplo Train hub is 0x12 (18 decimal) and for the other Hubs like Boost Hub or Train Hub it is 0x32 (50 decimal). So i have to add an extra class for the DuploTrainHub. But you should be able to set the color with the following lines manually:

[code]

Alternatively to use the `setL

[2020-10-04 21:06] cougarek commented on #22
@corneliusmunz Unfortunately no luck yet :)

Setting color doesn't work - LED stays blue all the time. I tried with manual command and by changing code in `Lpf2Hub.cpp` file.

Regarding reading color sensor value I activated the sensor and still getting zeros. Btw for `TrainColor.ino` example I had to move `myHub.init();` to main loop to make it connect to Hub (same init code as `TrainHub.ino` exa

[2020-10-04 23:43] cougarek commented on #22
Update: There is a way to turn on and off LED light:
set mode `{0x41, 0x01, 0x01, 0x01, 0x00, 0x00, 0x00, 0x01}`
on `{0x81, 0x11, 0x11, 0x51, 0x00, 0x0a}`
off `{0x81, 0x11, 0x11, 0x51, 0x00, 0x00}`
After issuing above commands LED changes color to default white. `setLedColor` command still doesn't work.

We can also play predefined sounds with same set mode: (probably there is more of them)
horn `

[2020-10-06 15:42] corneliusmunz commented on #22
Ok... strange. I think i have to buy a set to test it at home 😉

[2020-10-06 19:16] corneliusmunz commented on #17
@ThorstenBenter Hi Thorsten! I am working on the release of version 1.0.0 and there it will be possible to use the Tacho Motor commands also with the Two Port Hub (PoweredUp Train Hub).  I think during this week i will be able to make it ready for a release. There will be some breaking changes but i will write a migration guide. Some functions will be renamed and the global variables will be remov

[2020-10-06 19:19] corneliusmunz commented on #22
@cougarek Order for the 10874 set is done... i will get it on thursday and could hopefully provide you a solution where the Legoino lib will also support the Duplo sets with all commands (motor, light, sound, color sensor). Looking forward to the delivery 😀

[2020-10-07 08:31] ThorstenBenter commented on #17
@corneliusmunz Hi Cornelius!
These are very, very nice news! I will be very happy to migrate - as it is so much fun to work with your code. I made a simple workaround by "ramping" the power values up and down. But having PID speed control will be a game changer for all LEGO models, particularly trains when operated with the L-type motor. As the PF-L and the PUp-L motor have the same physical dimen

[2020-10-08 18:50] corneliusmunz commented on #22
Test setup is ready 😀
![image](https://user-images.githubusercontent.com/8521596/95500910-d7d23c80-09a7-11eb-817e-fd8abf289759.jpeg)

[2020-10-08 22:42] corneliusmunz commented on #22
@cougarek I have implemented and checked all the available functions. In the next release (hopefully during the next weekend) the support of the Duplo Train hub will be included. You can test it before the release in checking out the following feature branch of the library: https://github.com/corneliusmunz/legoino/tree/feature/add_hub_emulation Here you can find an DuploTrainBase.ino example sketc

[2020-10-09 20:28] cougarek commented on #22
Thank you for your commitment :)
I don't have a lot of time to test at the moment but it looks good, except for the reading of colors. When I put train gently on white piece of paper it gives me some random readings, example:
[code]
But I noticed last reading is almost always right, but more tests need to be done.

[2020-10-16 12:25] fvanroie opened #24 "Include 'Lpf2Hub* hub' parameter in HubPropertyChangeCallback ?"
I'm updating my code to test the new capabilities in the feature/add_hub_emulation branch. In my code I have multiple tasks connecting to multiple PU hubs. I'm a bit stuck with the new callback functions.

It seems each callback can only be used with one specific hub e.g. global `myMoveHub`, since the callback has no way of knowing for which hub it is receiving the update. Would it make sense to i

[2020-10-16 13:23] corneliusmunz commented on #24
Hi @fvanroie  Thanks for raising this issue! Another User (@M9Lab)  has asked the same issue in the gitter chat: https://gitter.im/legoinochat/community?at=5f773b54fcce3e6c18ea2cbd I am thinking about how to handle this and including this in the v1.0.0 version. I think that is a common requirement of all users who will have multiple hubs connected.

[2020-10-16 13:28] corneliusmunz commented on #24
@fvanroie I have restructured the whole library in that feature branch which your are evaluating. So be aware that some Breaking changes are there. And it could happen that the code in the feature branch does not work 😉  Here you can find a draft version of the migration documentation which will be provided by that new release with major changes: https://github.com/corneliusmunz/legoino/blob/featu

[2020-10-16 13:51] fvanroie commented on #24
Thanks for the update. I am aware about the breaking changes and the migration steps needed. I have read that documentation, which is very helpful indeed! I am working on a copy of my project to test and make use of the new (beta) features. Very exciting stuff!

What I currently did is make these manual changes in Lpf2Hub.h:
[code]
and Lpf2Hub.cpp
[code]
Now my `hubPropertyChangeCallback` function

[2020-10-16 14:09] corneliusmunz commented on #24
@fvanroie I think your changes should work for all use cases and i think this will be a generic implementation 👍  You can ask for the Name, or the Address, or the type of the hub and can then do things dependent on hub type or directly call functions on that hub reference. If you would like, you can do a Pull Request on the feature branch and then your contribution will be visible 👍 Or if you don'

[2020-10-16 14:39] fvanroie commented on #24
Hi @corneliusmunz.  I will create a PR, no problem.

I am currently testing with 5 PoweredUp Hubs and 5 Remote's. The idea is to power a large train layout, controlled by a train automation software, like RocRail. I'm testing Legoino with MQTT on the ESP32 to control the trains. Later I want to add track sensors and switch motors via GPIO.

[2020-10-16 19:39] fvanroie commented on #24
The changes are included in PR #25. It also includes some minor updates to the Migration.md docs that you may want to consider.

[2020-10-19 16:21] #24 closed

[2020-10-19 16:23] corneliusmunz commented on #24
Fixed with Release 1.0.0 https://github.com/corneliusmunz/legoino/releases/tag/1.0.0

[2020-10-19 16:24] corneliusmunz commented on #22
Fixed with Release 1.0.0 https://github.com/corneliusmunz/legoino/releases/tag/1.0.0

[2020-10-19 16:24] #22 closed

[2020-10-19 16:24] corneliusmunz commented on #17
Fixed with Release 1.0.0 https://github.com/corneliusmunz/legoino/releases/tag/1.0.0

[2020-10-19 16:24] #17 closed

[2020-10-19 16:25] corneliusmunz commented on #12
First _Beta_ implementation as part of the 1.0.0 release: https://github.com/corneliusmunz/legoino/releases/tag/1.0.0

[2020-10-20 15:29] AlbanT opened #26 "Hub emulation dependency on NimBLE???"
I installed the new 1.0.0 version of Legoino and while testing the HubEmulation example I got a compilation error on NimBLEDevice.h.
Maybe I missed a warning about dependencies but after I installed NimBLE-Arduino library it worked fine.
If it isn't in the documentation (I'm dyslexic so maybe I just missed it) I think it should be added :)

[2020-10-20 15:33] AlbanT opened #27 "New HubEmulation only works on my iPhone"
Hi,

I managed to upload the hub emulation example to my ESP32 (Lolin32 V1.0.0) and the Lego PoweredUp app (V3.5.0) on my iPhone connected without any issues.
When my son tried to connect with the Lego PoweredUp app (V3.5.0) on his Android phone or the Galaxy Tab the connecting fails.
Is this an isolated issue or can anyone reproduce this?
I havn't tried an earlier version of the Lego PU app yet.

[2020-10-20 15:58] corneliusmunz commented on #26
Hi @AlbanT ! Thanks for raising that issue. I have described it in the following section: https://github.com/corneliusmunz/legoino#remarks and in the Quickstart tutorial. Additionally i have marked it for the Library Manager as a dependent library and it should appear if you install Legoino that the dependent Library is needed.

But nevertheless. The hint about the dependency should appear at the

[2020-10-20 16:02] corneliusmunz commented on #27
@AlbanT Good point! I have never tested it on an Android phone. I will do this with my wifes phone and will have a look on the debug messages. It is definitely a BETA feature but also definitely a feature which is based on your initial Idea 👍 So i will have a look and give you feedback. Maybe you can set the Arduino Log Level to DEBUG (Tools  menu, Core debug level) and open the serial monitor whi

[2020-10-20 16:33] AlbanT commented on #27
I managed to turn on the log level to DEBUG. Was not that simple as the **WEMOS LOLIN32** doesn't have that option but as it turns out I can compile and upload as an **ESP32 Dev Module** which has the debug option.

Unfortunately the debug log doesn't tell us anything as the PU App never gets to even detecting the ESP let alone connect :(
So the log stays idle at:

`[D][Lpf2HubEmulation.cpp:449] s

[2020-10-20 18:41] corneliusmunz commented on #27
@AlbanT I have tried it now with an Android phone an have experienced the same issue as you. But interestingly i tried to connect to a "real" Train hub and even that does not work. Can you test it if you can connect to a real hub?

[2020-10-20 18:51] AlbanT commented on #27
Unfortunately not. All I have is a Boost hub and a Technic hub :(
A few days ago I did experience connection issues with my iPhone to the Technic hub and in that particular case my Galaxy tab was able to connect. So maybe there is some sort of issue in the Lego app?

[2020-10-21 06:45] corneliusmunz commented on #27
I have evaluated the issue an the so called advertisment data is incomplete. The iOS operating system is maybe a littlebit more tolerant than Android. I will try to fix it as soon as possible

[2020-10-21 21:53] corneliusmunz commented on #26
I have improved the documentation and moved the information about the dependent library at the top of the README.md file. This is fixed with the following release: https://github.com/corneliusmunz/legoino/releases/tag/1.0.1

[2020-10-21 21:53] #26 closed

[2020-10-21 21:54] corneliusmunz commented on #27
Hi @AlbanT ! I have changed some settings in the advertisement data and now i could connect with an android phone to the emulated hub. It would be very helpful if you can cross check if it works on your side. The fix is available in the following release: https://github.com/corneliusmunz/legoino/releases/tag/1.0.1

[2020-10-22 11:39] AlbanT commented on #27
Hi @corneliusmunz I have installed V1.0.1 of Legoino (using the library manager in Arduino IDE) and recompiled the sketch.
The issue persists on my Android tablet and my sons phone but I do get a bit further. The Lego PU app does show the ESP32Hub (I renamed it in the sketch) but it still won't connect. Yesterday with V1.0.0 the app only showed an empty block without the in the sketch specified na

[2020-10-22 12:05] corneliusmunz commented on #27
Hi @AlbanT ! Hm... can you try the following things:
* can you "kill" the app and restart it?
* Have you installed the latest version 1.0.2 of the NimBLE-Arduino library?
* Can you write me which Android versions you use?
* Can you use a shorter Hub Name?
* Can you enable the NimBLE logs with the following changes?

1) open the following file (OSX: `~/Documents/Arduino/libraries/NimBLE-Arduino/src

[2020-10-22 15:28] AlbanT commented on #27
Hi @corneliusmunz

- killed the app every time as that was the only way out again :)
- I have v1.0.2 of the NimBLE library according to the Arduino library manager
- Both the tablet and my sons phone uses Android 7.0
- Renamed the hub to simply **Hub**
- Enabled the NimBLE logging this is the resulting log:
[code]

No I need to thank you for all the effort ;)

[2020-10-23 09:00] corneliusmunz commented on #27
@AlbanT i have tried it on two phones. One with Android 6.0.1 and one with Android 10. On both the HubEmulation.ino sketch worked fine. It is very strange, that after starting the Advertisment of the Bluetooth Hub (last log message) nothing happens. Normally if the app finds a device which has the correct advertisment values it initiates a connect and requests several other messages.

I have to se

[2020-10-23 16:36] AlbanT commented on #27
Hi @corneliusmunz is this what you need?

'''
nRF Connect, 2020-10-23
Hub (30:AE:A4:05:E7:0A)
V	18:31:09.015	Connecting to 30:AE:A4:05:E7:0A...
D	18:31:09.015	gatt = device.connectGatt(autoConnect = false, TRANSPORT_LE)
D	18:31:09.668	[Broadcast] Action received: android.bluetooth.device.action.ACL_CONNECTED
D	18:31:09.714	[Callback] Connection state changed with status: 0 and new state: CONNECTED

[2020-10-23 16:38] AlbanT commented on #27
Raw data:

`0x09FF97030041071D6300110723D1BCEA5F782316DEEF1212231600000409487562020106020A00051210002000`

[2020-10-26 16:19] lokerhp opened #28 "NodeMCU ESP8266"
Hello,

I'm using a NodeMCU ESP8266 and i'm attempting to use legoino but it fails. So my question is, is it possible to use legoino on a NodeMCU 8266?

Greetings,

Niek

[2020-10-27 07:48] corneliusmunz commented on #28
HI @lokerhp! Unfortunately this will not work because the ESP8266 has no build in Bluetooth and the used Bluetooth library does only support ESP32 boards.
Cheers, Cornelius

[2020-10-27 07:50] corneliusmunz commented on #27
Hi @AlbanT ! Unfortunately i was not able to find the root cause for the behaviour on your phone. The advertisment data looks good for me but the connection procedure does not start. I have really no glue why this happens 😢

[2020-10-27 08:26] AlbanT commented on #27
Hi @corneliusmunz pity :(
Thanks for the effort!!!!
I'll have a go with some other android phones whenever I come across one :)

[2020-10-27 14:54] Gcopper1984 opened #29 "Legoino 1.0.1 do not compile on arduino IDE 1.8.3"
Hello,

   I just installed Legoino library for arduino 1.8.3 but the  "DuploTrainExample" do not compile (here the error log file). I edit the "Lpf2Hub.cpp" file (where the error were reported) and modified line 106 (error in implicit cast), line 784 (return is missing, I put -1 but unsure of the result) and line 466 (in for loop index i is not initialized).

With new file the example compile, bu

[2020-10-27 18:33] corneliusmunz commented on #29
Hi @Gcopper1984 ! Thanks for opening your issue. The return value is definitely missing. Thanks for reporting this. I will correct that in the next version.

About the compiler error: This should work and i have no issues in compiling and running the example. Can you please try to update your Arduino version to the current one (1.8.13) 1.8.3 is from 2017 and maybe there are some changes. Can you p

[2020-10-28 07:48] Gcopper1984 commented on #29
Good morning,

   ok, I upgraded to Arduino 1.8.13 and I also re-install library from library manager but error in compiling still there. Here the log file from Arduino IDE

[LegoinoError.txt](https://github.com/corneliusmunz/legoino/files/5450345/LegoinoError.txt)

Anyway, great work! I am waiting for my esp32 board to test, I hope to do some real "test" :-) very soon.

Have a nice day and thank

[2020-10-28 16:52] Hantse opened #30 "Power Functions Sample Connection"
Hello,

Very nice library, i like, it's really funny and usefull.

But, it's possible to have a full connetion scheme with IR for Power Functions ?

I try with IR led on Pin12, but for me, Power Functions doesn't work, probably my fault, in electronic part ?

Kind regards,

[2020-10-29 12:18] Gcopper1984 opened #31 "Duplo train - Invalid color name for no-color"
Hello once again.

   I try the DuploTrainBase example and work properly with my board.

But I noticed  that if I lift the train base the callback function report a color of (int) 255 so in the serial display appear an invalid name (something that is readed like "???").

Could be useful add another color named "nocolor" (for example) in the COLOR_STRING array or map the color id > 10 as "black" in

[2020-10-29 12:41] Gcopper1984 commented on #30
Hello,

   for a cheap and dirty test you can try to connect your led directly to the output of the board in series with a 220 ohm for limiting source current from your IC but do not expect great working distance. At first try place the led near the lego receiver.

Take this as example:
https://create.arduino.cc/projecthub/karmette/basic-led-setup-for-beginners-0a124a

You have to set a lower resi

[2020-10-29 13:34] corneliusmunz commented on #31
Hi @Gcopper1984 ! Very good finding! I will fix this and add an additional Color in the Color array

[2020-10-29 13:36] corneliusmunz commented on #29
I have removed all warnings and will provide a bugfix Version soon

[2020-10-29 14:13] maximklakov opened #32 "Can you please add SBrick and BuWizz support?"
Lego world has two main competitors to a standard PF controls, and those are SBrick and BuWizz.
They work through Bluetooth interface, and support controlling with phones or tablets.
They were a great substitution for PF receivers for many years, and a lot of Lego funs has at least one of them.
It would be nice if your library could also support those two - in that case you would probably cover 90

[2020-10-29 18:26] corneliusmunz commented on #32
Hi @maximklakov ! Thanks for that issue. I will have a look on that project and maybe i can implement the BuWizz and SBrick protocols additionally. But then it would be usefull to have a layer over the protocols which have all the same methods to control motors and read in sensors

[2020-10-29 22:46] corneliusmunz commented on #30
Hi @Hantse! I have tried it with the direct connection of a IR Led with an 220 ohm resistor as proposed by @Gcopper1984. What sketch do you have used? Was it the example sketch which is part of the library? As @Gcopper1984 already said: If you have selected channel 1 on your Powerfunctions IR receiver, you have to use channel 0 on the library. Maybe i will change that in the future to have the sam

[2020-10-30 05:14] maximklakov commented on #32
Yeah, probably some sort of a base abstract class with generally available methods like Connect, GetName or SetMotorSpeed, and more extended implementations with brick-specific methods.

[2020-11-01 11:52] hrgraf opened #33 "Lego Boost issues/feedback found on migrating to legoino V1.01"
Hi Cornelius,
first of all thank you for this cool and active library. Congratulations for reaching a version 1, quite a milestone!

I was not aware that the API is that much under development, so I had to completely rework my Lego Boost example (AtomMatrixVernie in https://github.com/hrgraf/M5), which I only have started 1 month ago...

But organizing the library for more callbacks makes sense to

[2020-11-01 13:22] falk12 opened #34 "Rotation feedback of motors on all hubs"
Hi,

I don't get anything working except the boost.
below the results for all hubs and motors with the columns motor/result when connected/feedback if turned manually
**MoveHub**
Boost Rotation: 0 [degrees] Ok
L Rotation: 10240 [degrees] none
XL Rotation: 33559552 [degrees] none
intern Rotation: 0 [degrees] Ok

**ControlPlusHub**
Boost Sometimes working
L Rotation: 16792320 [degrees] none
XL Rotat

[2020-11-01 13:39] Gcopper1984 commented on #34
Hi,
   I am facing the same problem of @falk12.

I creted a simple controller for 42099 model:

[ESP32_LEGOINO_42099_v00.zip](https://github.com/corneliusmunz/legoino/files/5470932/ESP32_LEGOINO_42099_v00.zip)

Model speed and direction are mapped on a Vertical/horizontal axis of the joystick. I was excepting that encoder of servo motor (motor C) are listed on motor callback function. But results

[2020-11-01 18:39] corneliusmunz commented on #33
Hi Hans-Rudolf (@hrgraf)!
Thank you very much for your detailed description of your issues which you had during the migration to the version 1.0.1. I highly appreciate any feedback especially when it is so profound! Sorry for your efforts to be forced to migrate to the 1.0.0 version. It is really hard as a maintainer of such a library to decide if a restructuring is ok or should not be done. I dec

[2020-11-01 18:47] hrgraf commented on #27
Hi,
just want to let you know, that the HubEmulation example does not work with my android phone (Android 9) neither.
While I can connect with the "nRF Connect tool", the Lego Powered Up app is unable to connect, but somehow reports at least the advertised name (TrainHub). I have enabled both debug reportings, but no message happens after
[code]

Otherwise, I can connect with my Android phone to m

[2020-11-01 20:11] corneliusmunz commented on #27
Hi @hrgraf, @AlbanT ! Maybe it has something to do with the NimBLE-Arduino library. I will contact the owner of the lib if he can guide us in some direction

[2020-11-01 20:58] hrgraf commented on #27
Hi @corneliusmunz, @AlbanT,

I just did another try, and now I was able to connect with Powered Up to the HubEmulation on my Android 9 phone.
This time, I did not only kill the Powered Up app, but also disable and re-enable the Bluetooth radio in the phone.
Or was I just lucky?

Once connected, I succeed in reconnecting. May-be the Powered Up app keeps some connection cache?
Seems like, as it has

[2020-11-01 21:15] hrgraf commented on #33
Hi @corneliusmunz,

thank you for the answers.

For the color range issue: I would add NUM_COLOR (equal 11) to the Color enum, so the user/library can check, if the detected color is valid. Like I do in my example/fork.

BTW: Do you have an idea, why I don't get HW/FW versions reported?

[2020-11-01 21:47] corneliusmunz commented on #27
@hrgraf many thanks for reporting this observation. @AlbanT Can you try also to kill the PoweredUp App and disable and re-enable the Bluetooth radio in the phone?

[2020-11-01 22:09] corneliusmunz commented on #33
Hi Hans-Rudolf (@hrgraf)! I think i found the issue related to the HW/FW version. I also never got a version value back but the version is nothing which will be triggered with the `EnableUpdates` flag https://lego.github.io/lego-ble-wireless-protocol-docs/index.html#hub-property-operation You have to request explicitly an Update with the value `0x05`and you can do this in the legoino library with

[2020-11-01 22:22] corneliusmunz commented on #33
@hrgraf For the battery type value it is the same behaviour. It needs a explicit request of the value. I think this is the case for all properties which does not really change over one "power up lifecycle"

[2020-11-01 23:16] corneliusmunz commented on #34
Hi @Gcopper1984 , @falk12 ! Thanks for reporting that issue. Unfortunately i have never tested the rotation stuff with my TechnicLarge and XLarge motors. I have currently done a fixed mapping of the so called mode to specific device types. But i forgot to add the mappings for all possible devices and the Technic Motors was missing. So if you change the following method in the `Lpf2Hub.cpp` file, t

[2020-11-02 00:20] hrgraf commented on #33
@corneliusmunz

thank you, requestHubPropertyUpdate() is working, I get HW/FW version reports

[2020-11-02 08:01] AlbanT commented on #27
Hi @corneliusmunz I think @hrgraf nailed it.
I can now connect after killing both the app and the bluetooth on my tablet and re-enabling the BT and restarting the app the connection was made succesfully.

[2020-11-02 08:01] #27 closed

[2020-11-02 08:19] corneliusmunz commented on #27
@AlbanT I am really happy that it worked on your side! Thank you for checking it again. Unfortunately this is an issue which is not controllable from the library side. Maybe it helps if the Device Address changes every time. But i am not sure. I will do a short check.
@hrgraf Thank you again for figuring out how we can overcome the conntection issues!

[2020-11-02 08:20] Gcopper1984 opened #35 "Read reply from HUB"
Hi @corneliusmunz,

   thank you for your support, is a great thing that this project is alive!

Another question: I am digging into BLE protocol and I there are some command where HUB send reply to the Arduino.
For example command "Port Information Request" or "Port Input Format Setup"

So, if I understend correctly, I can send message from arduino to the HUB with the "WriteValue()" command. But

[2020-11-02 11:55] falk12 commented on #34
Hi Cornelius,

thanks for your commets.
Result:
**MoveHub/ControlPlusHub**
Boost/Motor/L-Motor
All report values

**PoweredUpHub**
doesn't report any motor, neither 0 nor constant strange values.
In other words: callback isn't triggered (casue the Seria-Prints don't appear)

I'm not quite happy with that all, because it makes things very complicated.
I wanted to write:
Hub.motor(portA,50). For all

[2020-11-02 21:59] corneliusmunz commented on #35
Hi @Gcopper1984! Yes, you can request a port Information or Port Mode Information request via the WriteValue command. But currently the callback function is not implemented for the Port Information and Port Mode Information messages. But you can change/try it by your own in changing the implementation of the common `notifyCallback` method inside the Lpf2Hub.cpp file. This callback is fired by the

[2020-11-02 23:05] corneliusmunz commented on #34
Hi @falk12 !

I have evaluated the PoweredUpHub issue and this was a bug in the device connection method. Every hub behaves a littlebit different and i don't know why, but the PoweredUpHub intitially sends a disconnect event on both ports if a technic motor is attached. This initial disconnect event was decrementing a counter variable below 0 which does not make sense. So long story short, i have

[2020-11-02 23:07] corneliusmunz commented on #31
Will be fixed together with your proposed change in the next released version 1.0.3. I have introduced now a new entry in the COLOR_STRING array and added a static funtion which handles the conversion from color/int to a string. This method will handle all color values above NUM_COLORS as "none".

[2020-11-03 07:42] Gcopper1984 commented on #35
Good morning,

   ok, I will try something for sure about callback, many thanks for the indication. and if I will be able to do somenthing good I will try with a Pull request.

Have a nice day!

[2020-11-03 07:44] Gcopper1984 commented on #34
Hi,

   yes, it works. I will try to do some experiments with combined mode (as stated in BLE protocol) in order to get position and speed in one shoot).

Thanks.

[2020-11-03 08:56] falk12 commented on #34
Hi Cornelius,

No, doesn't work with the PoweredUpHub.
callback isn't triggered.
If the hub is "on" when starting the ESP it triggers once, with unpredictable results. 0 , 256, -12032

Im absolutly not familiar with c/c++.
But setMotorSpeed(portA,50) could be possible for all Motors?

Sure. Getting the angle? It is for a while constant, so no callback. So I have to take the initial callback when c

[2020-11-03 11:04] corneliusmunz commented on #34
@falk12

Have you tried it with the version 1.0.2 ?

Thats correct but there is also the following part of the code which shows (if an update is available) the current and voltage measured from the hub. And this voltage should be exaclty the same e.g. 7.14 as in the "old" versions of the library. Here you can find the code part in the `MoveHubDeviceInfo.ino` sektch where the real Voltage and Curre

[2020-11-03 16:30] Gcopper1984 commented on #35
Hi,

   I think I got the point and start implementation. I also added virtual port command and create a pull request.

@Gcopper1984

[2020-11-03 17:52] falk12 commented on #34
Hi,

thanks for your response

Yes, the on that chnage the behaviour of the ControlPlus and MovHub

Yes, thanks. The constant is BATTERY_VOLTAGE, but gives the level, I missed that.

Sure, but then I have to set up many timers. I have to think about that.

Thanks for today.

[2020-11-03 22:22] Gcopper1984 commented on #34
Hi @falk12, @corneliusmunz

   I try the PoweredUp hub with mmotor (lego batmobile set) and I also found that callback trigger are not fired (also with new library 1.0.2 and file edited as suggested).

After (a lot) of debugging I send to hub the Port Request Information with "information type " = 0x01 and this is the reply (command 0x43)

B 0 43 1 1 1 1 0 0 1 0

Just write better:
0x0B - 0x00 - 0

[2020-11-04 09:13] falk12 commented on #34
Hi @Gcopper1984

The so called M-motor ist not a tacho-motor.
So this is normal and correct.

But discussion here ist about Boost-Motor, L-Motor and XL-Motor.
And they do report on MoveHub and ControlHub but not on PoweredupHub.

[2020-11-04 09:24] Gcopper1984 commented on #34
Ok so I miss the point.

Just to understand, which is the MoveHub? Is it the same from the Boost bub?
L-motor and XL-motor are in the 42099 set, right?

[2020-11-04 09:40] falk12 commented on #34
Hi,

it's a little bit complicated, because "Boost" is only a "theme" and "control+" only an App and no hardware at all.

There are three Hubs:
MoveHub (in the Boost Sets) Lego-Name: LPF2 HUB   MOTOR 6X16X4 NO. 1 / 88006
Hub (in the CityStes) Lego-Name: HUB NO. 4 / 88009
technicHub(in technic Sets) Lego-Name: HUB, NO. 2 / 88012

and the Motors

M-Motor (WeDo 2.0, Batmobil) | Lego-Name: ??? / 45303

[2020-11-04 09:56] Gcopper1984 commented on #34
Hi,

   very good recap.

Ok, so your problem is that if you connect a lego L -Motor or XL-Motor to HUB NO. 4 / 88009 you do not get any feedback, right?

[2020-11-04 10:02] falk12 commented on #34
No, the problem is that **it** ( the Hub that LEGO calls "Hub", others "CityHub" or "TrainHub" or "HubNo4", and legoino calls "PowerdUpHub", yes, the 88009, doesn't trigger with all motors I tried.
And it should with all tacho-Motors:  Boost, L, XL and all angulars (which I can't test)

[2020-11-04 11:44] corneliusmunz commented on #34
@falk12 Thanks for the good overview of the confusing naming schemes 👍 It is really weired. I have tested it with the 1.0.2 version, the 88009 hub and the Boost Motor and it works. The only important thing is in my point of view, that the timing of the 88009 hub seems to be a little bit different than the timing of the move and technicHub. The 88009 hub is way more slower in detecting the connecte

[2020-11-04 14:25] falk12 commented on #34
Hi @corneliusmunz ,

yes, that works. Where in the example was delay(200), sometimes I have to wait more than  2000ms.
So I'ill have to generate special subroutines for this whole theme.   I'll check.

Thanks for your efforts.

[2020-11-04 18:11] Hantse commented on #30
Hello !

Thanks for your feedback guys, all work fine for me :D

[2020-11-04 20:16] corneliusmunz commented on #35
Hi @Gcopper1984 ! Thanks for your work an PR. I will have a look on it the next days.

Cheers,
Cornelius

[2020-11-04 20:18] #30 closed

[2020-11-04 20:19] corneliusmunz commented on #31
fixed with release https://github.com/corneliusmunz/legoino/releases/tag/1.0.2

[2020-11-04 20:19] #31 closed

[2020-11-04 20:20] corneliusmunz commented on #29
fixed with release https://github.com/corneliusmunz/legoino/releases/tag/1.0.2

[2020-11-04 20:20] #29 closed

[2020-11-04 20:23] corneliusmunz commented on #33
fixed with release https://github.com/corneliusmunz/legoino/releases/tag/1.0.2

[2020-11-04 20:23] #33 closed

[2020-11-04 20:26] hrgraf opened #37 "HubEmulation support for more devices"
Hi @corneliusmunz,

the HubEmulation is a great feature for the legoino library and will open tons of new applications, e.g. to control ESP32 projects with the Lego PoweredUp app.

While basic motor drive commands arrive, drive for angle etc. seems not be supported (yet)?
And what about other sensor data? Having bidirectional communication would increase possibilities.

I have started a [HubEmulat

[2020-11-04 20:30] corneliusmunz commented on #34
@falk12 I will try to update all examples and update the documentation too. I think it is time to think about an easier handling of connection and setup of the hubs and connected devices. Currently a lot of boilerplate code is needed to have a setup after you can make the real use of the library functions.

Features would be:

* Single Setup command where the hub with attached devices, callbacks c

[2020-11-04 20:41] corneliusmunz commented on #37
Hi @hrgraf !

Thanks for your feedback! I am really happy that this beta feature seems usefull for you. Many thanks for your contributions so far!

Now to your issue:

Good Idea to use the Accelerometer of the Atom matrix as input device for the HubEmulation. I initially want to cover only a few use cases to see if the community will get the idea and requests more features. Now this ist the case a

[2020-11-04 21:10] lokerhp commented on #28
Hey, i just bought a ESP32 And now it works, thanks for your help 👍

[2020-11-04 21:10] #28 closed

[2020-11-04 21:14] corneliusmunz commented on #28
@lokerhp Cool! Nice to hear that 👍

[2020-11-05 09:17] Gcopper1984 commented on #34
Hi @corneliusmunz,

   maybe another useful function could be the implementation of multi mode reply

https://lego.github.io/lego-ble-wireless-protocol-docs/#port-input-format-setup-combinedmode

where i can get multiple informations about motor and sensor in only 1 reply. For example, motor can reply with it speed, position and position absolute in a single message.

Last thing could be the exten

[2020-11-05 09:29] falk12 commented on #34
Hi @corneliusmunz ,

Indeed.
Program could be:
Connect(Hub);
Serial.println(PORTA,ROTATIONS)
Two Lines! ;-)

This is just what my "microHub" project does. (it's running with 1.0.2)
https://www.1000steine.de/de/gemeinschaft/forum/?entry=1&id=443479#id443479
There have been some betatesters, and it works, includung Web-Interface to configure.
I have some solutions implemented, but I am  absolutetly

[2020-11-05 20:09] hrgraf commented on #37
Hi @corneliusmunz,

thank you for the links and information.

Yes, my priorities are
1. MoveHub
2. TiltSensor
3. TachoMotor

I have started implementing the first 2 tasks, by adding manufacturerData, portInformation, portModeInformation.
Unfortunately, the AtomMatrix emulating the hub is crashing with the following message:

Guru Meditation Error: Core  0 panic'ed (Unhandled debug exception)
Debug

[2020-11-05 21:33] hrgraf commented on #37
OK, I have tweaked some constants in nimconfig.h to increase stack and buffers.
Now, the ESP32 does not crash anymore.

[2020-11-05 21:59] hrgraf commented on #37
OK, PoweredUp app connects on 2nd attempt. So I probably just need so send tilt data

[2020-11-11 16:23] corneliusmunz opened #38 "Make connection flow easier"
With more devices handled in an Arduino sketch the connection flow and the boilerplate code becomes more and more complicated. In this issue i want to discuss the requirements of a more easy way of the connection procedure. Initial thoughts came from @falk12 written in the following thread of another issue:
https://github.com/corneliusmunz/legoino/issues/34#issuecomment-722257005

**Main Goals:**

[2020-11-11 17:18] marcrupprath commented on #32
Sbrick have published their protocol a while ago,
Buwizz unfortunately not, as i know.

[2020-11-11 17:20] marcrupprath commented on #32
An addition; SBrick and Buwizz do not support new sensor, because they do not support neither new PU sensors, nor pu motors

[2020-11-11 19:54] corneliusmunz commented on #32
I tend not to implement the Buwizz and SBrick protocols because it is currently a library covering lego protocols. I think it would be better to implement an additional library which covers the other protocols and the user who wants to interact with different protocols can then link different libraries together in one sketch. I would like to keep it separate.

[2020-11-12 06:52] marcrupprath commented on #32
For shure this would be the better decision, don't mix up different things ;-)

[2020-11-12 17:46] falk12 commented on #38
Hello

Here are some ideas to  describe a hub.
This might be done via a class or a structure.
Some properties might be
-	useMacAddress  optional:MacAdress of an existing device
-	Device-Type (list of allowed Hubs)
-	Port A-device (list of allowed devices)
-	Port A-callback  (list of used callbacks)
-	.
-	.
They have to be coded(defined) by user and all used in a new "Conncet" routine, icluding int

[2020-11-13 17:50] WilixLead commented on #37
Hello guys! First of all - it is a great Idea and I working on emulation device some time before https://wibrick.wilix.org/
Not I just don't have needed time for it. But I still want create smaller and custom controller with LiPo battery.
Anyway. My question about Distance, Color and Force sensors. Some one have captured protocol packets for one of this devices? I just want implement some own (lik

[2020-11-21 22:16] wmarkow commented on #12
Hi. I will definitelly try your hub emulator with ESP and some - let's say - custom train.

My kids already have one Lego set but it would be nice to have more :) I bought in Lidl a cheap (for 30 EUR) "lego compatible" train from Playtive - what is good that the tracks match to original Lego so I can join it together. In this price I have 3.2m of tracks (including one railroad switch), around 750

[2020-11-28 15:42] wmarkow commented on #12
I tried this solution but it doesn't work in my environment. I'm using
 * WEMOS LOLIN32 board
 * ESP32 core in version 1.0.4
 * legoino in version 1.0.2

 I had some compilation issues, but they are already fixed with commit b41c0feb1d27c990 - so this is not an issue here.
I have enabled debug in ESP32 core by setting the **esp32-hal-log.h**:
``` Line38: #define ARDUHAL_LOG_LEVEL /*CORE_DEBUG_LEVE

[2020-11-28 17:36] wmarkow commented on #12
Ok, I think I know what is going on. I have implemented also a small Android application to connect to Gatt server. This application also doesn't want to connect (I have 133 status response when connecting to Gatt server). After a while of googling I have found this isse on github and this specific answer helped me to fix the problem:
https://github.com/android/connectivity-samples/issues/18#issue

[2020-11-28 20:23] wmarkow commented on #12
It also doesn't work with my Samsung device with Android 5.1.1: the same error. Even **BLE Scanner** doesn't want to work.

What is good: my Android app and also **BLE Scanner** both work with the [example code](https://github.com/corneliusmunz/legoino/issues/12#issuecomment-658994005) from @marcrupprath

[2020-11-29 11:57] marcrupprath commented on #12
After my first test, Giancarlo and me had an intense discussion, about : what is missing, best practices ....
In the end i think the step by step guidance he wrote in the "eurobricks" forum. Is a good guidline to follow, i think.

Because the first example i posted here is for simple "does it connect ?" Only.
You should take a look on the extended code Giancarlo posted here ?

Backround is: My fis

[2020-11-29 14:12] wmarkow commented on #12
@marcrupprath I have found it in the meantime. I think it is related to the **NimBLE-Arduino** library; please see the issue from my last comment.

To make it partially working I needed to add a
[code]
method in **Lpf2HubServerCallbacks** inside of **Legoino** library. WIth this change the **BLE Scanner** application connects correctly to the emulated Lego hub. In my custom Android app I needed to

[2020-11-29 14:28] AlbanT commented on #12
@wmarkow I havn't read your previous posts in detail but I would like to point out that I have had issues with the app recognizing the ESP32 on an Android device. On my Apple it works without any issues.
On my sons Android I need to disable Bluetooth and completely close the app.
Then start Bluetooth and do a scan for devices. Just a scan not connecting.
After I restart the app the ESP is recogniz

[2020-11-29 14:34] AlbanT commented on #37
Can I suggest compatibility for the colorsensor.
Either the Lego colorsensor (although getting hold on female connectors for these devices is not easy, any suggestions?) or for example a command that we can feed our own data so it is reconized by the get color functions in the app.
I'm planning to try out the M5Stack TCS34725 Sensor Module.

[2020-11-29 15:08] corneliusmunz commented on #12
Hi @wmarkow : Sorry for the late reply on your comments but i was a littlebit busy ;-) For android we faced some issues with the connection procedure. The connection problem was described in the following issue:  https://github.com/corneliusmunz/legoino/issues/27 The solution is to kill the app and disable the bluetooth radio on the android device completly (as described by @AlbanT already) this h

[2020-11-29 16:54] wmarkow commented on #12
Thanks for the hints:

Then start Bluetooth and do a scan for devices. Just a scan not connecting.
After I restart the app the ESP is recognized.

This also works fine for me, after this steps Powered Up connects correctly to Legoino emulated hub.
Then I did one more test: I disconnected device, switched bluetooth off, switched of Powered Up, cleared Powered Up application cache, start Powered Up

[2020-11-29 18:59] corneliusmunz commented on #12
@wmarkow Thanks that you have tried it out and tried different sequences! I will have a look if it is helpful if I randomly use different device ids. Regarding your question about controlling different hubs at the same time: that's definitely possible. You can connect to up to 9 hubs at the same time but you have to increase the following constant in the nimconfig.h to the Max number of connection

[2020-11-29 22:14] corneliusmunz commented on #37
Hi @AlbanT , @WilixLead I am currently working on the support of additional hubs and sensors for the hub emulation. A good source of the sensor messages like supported modes the following project is a good source for protocol documentation of concrete sensors: https://github.com/sharpbrick/docs But be a littlebit patient for the additional devices.. maybe it will become a christmas gift 😉

[2020-12-01 07:48] tthiery commented on #37
Regards https://github.com/sharpbrick/docs ...

Happy to accept contribution. I have seen such a disparity in documentation, so I hoped to pull some ends together.

I have the Mindstorm set by now but have not "processed" the goodies yet. It is unfortunately not only pulling the metadata from the devices (which is an important part) but also the deviations (like: Oops, wrong metadata) and dirty de

[2020-12-01 11:42] WilixLead commented on #37
Thank you! Unfortunetly I still not done my schematic for WiBrick controller, it takes too much time at this moment. I hope do it in current month...
If some one can help me with schema and pcb (I want compact and powerful device) - welcome (fully opensource :))

[2020-12-01 15:51] StefansProjects opened #39 "Feature Request HubEmulation: Support for regulated Motors"
Thank you for your project, its really great and fun to work with!

Currently I am working on a ESP32-based legoino hub to connect old NXT / EV3 motors (and eventually NXT / EVE3 sensor) to the new PoweredUp app (and other devices using the new protocol).  Hardware is rather simple, but unfortunately it seems like its currently not possible to register anything but train motors, or is it?

Also th

[2020-12-01 19:59] corneliusmunz commented on #39
Hi @StefansProjects ! Thanks for your feedback 😄 The hub emulation part was some kind of beta feature in the 1.0.0 version of the library to see if the users need it. I now get more and more feedback and feature requests and i think it is worth to do some more work on that feature. I am currently working on a feature branch on the following topics:

* support MoveHub (aka BoostHub)
* Support of se

[2020-12-01 20:01] #32 closed

[2020-12-04 12:29] StefansProjects commented on #39
Looking forward for your additions. Building the hardware meanwhile

[2020-12-06 21:55] wmarkow commented on #27
Hi guys, I also have some issues with emulated hub and Powered Up in Android. I already put some comments in https://github.com/corneliusmunz/legoino/issues/12 but here it is a better place to comment.

Basically emulated hub for me doesn't work with Powered on Up Android; it didn;t want to connect. I need to make this trick to close the app, clear its application data etc. It works until I connec

[2020-12-06 21:57] wmarkow commented on #12
@corneliusmunz thanks for your reply. In the meantime I spent some time on the Android problem. By experiments I managed to make it working, however not everything is still clear to me. I have commented in the #27, because there is a better place for it.

[2020-12-09 23:10] Mattze0815 commented on #33
Confirm getting battery events now.

[2020-12-10 10:52] bjgz opened #41 "Feature Request: Non-blocking init"
Thank you for writing a great library, I’m really enjoying exploring its potential.

One thing that seems out of place however is the blocking init call. When you are connecting to multiple hubs, and trying to control a complex environment, even one second can be too long for comms and the program to pause.

I notice the NimBLE library now supports a non-blocking scan function, is there any chance

[2020-12-10 22:07] Mattze0815 commented on #41
+1

[2020-12-10 22:29] Mattze0815 opened #42 "Make PowerFunctions library useable for ESP8266"
First of all congratulations to your wonderful library. As discussed, we are using it in our Mattzobricks project of automated LEGO trains (www.mattzobricks.com).

When having the Legoino library installed, it is impossible to compile a firmware for an ESP8266 that uses the PowerFunctions library.

1.
If you include the PowerFunctions library, the compile will fail, because all other parts of the

[2020-12-13 21:42] corneliusmunz opened #43 "Color Sensor value for GREEN shows CYAN"
@m9lab figured out in the gitter chat (https://gitter.im/legoinochat/community?at=5f96b2fcc7ef520fffc61333) that the library detects the color CYAN (value = 5) for a GREEN brick. After a short evaluation i can confirm this issue.

But some strange things appear here while checking the issue:

If you setup a PoweredUp program on the iOS or Android app, the sensor detects GREEN with the color detect

[2020-12-13 22:42] corneliusmunz commented on #42
Hi @Mattze0815 ! Thanks for opening the issue. Now it is visible to all users 👍

I can reproduce the issue on my side. I have tried several things (remove *.h files out of the library.properties definition) but unfortunately without luck. The IDE always tries to compile all files in a library folder.

So i think the only way to overcome this is to split the PowerFunction stuff into a separate libr

[2020-12-13 22:43] corneliusmunz commented on #41
@bjgz Thanks for opening that issue! I will have a look on the changes in the NimBLE library about non-blocking scan function. Can you give me a hint where the changes are described?

[2020-12-13 23:28] fvanroie commented on #42
Maybe I don't fully understand the problem, but can't you just encapsulate the ESP32 code with:
[code]
or
[code]

However since PowerFunctions (IR) and Lpf2 (BLE) are two separate protocols, it might make more sense just to split them.

[2020-12-14 13:40] theohm opened #44 "playSound and setLedColor very unreliable"
Libraries: Legoino 1.0.2, NimBLE-Arduino 1.0.2
ESP32 board: [AZ-Delivery ESP32 NodeMCU V2](https://www.az-delivery.de/en/collections/alle-produkte/products/esp32-developmentboard)
Lego model: Duplo Loco from the [10874 set](https://www.lego.com/en-us/product/steam-train-10874)

Cornelius, big thanks for your Legoino library!

When I use Legoino, the methods `setBasicMotorSpeed` and `stopBasicMotor

[2020-12-14 20:09] corneliusmunz commented on #42
@fvanroie Good idea! I will try it out and it should work as you proposed. I think i will do this as a quick fix. Nevertheless i will think about a split of the functionality into two libraries.

[2020-12-14 20:29] fvanroie commented on #41
What I gathered from the [docs](https://github.com/h2zero/NimBLE-Arduino/blob/c2a947088d68ab9d836ad966c3228de01d68b342/docs/New_user_guide.md#creating-a-client
):

[code]
`NimBLEScan::start` indeed has a non-blocking overload, that accepts a callback function.

Non-blocking:
[code]
vs. blocking:
[code]

It seems to me that all that is needed is to add an additional parameter in Lpf2Hub::Init()
[co

[2020-12-14 22:40] corneliusmunz commented on #43
fixed with https://github.com/corneliusmunz/legoino/commit/bb4d8e563a1e467194037e0a5db9b0bda37752ad

[2020-12-14 22:40] #43 closed

[2020-12-14 22:46] corneliusmunz commented on #42
@fvanroie : Your `#if defined(ESP32)` idea has worked without any issues. Now the PowerFunction stuff will work for all platforms (AVR, ESP8266, ESP32) I have added a github action workflow to ensure that the `PowerFunctions.ino` file will compile on the desired hardware targets. Thanks again for that easy and obvious hint which i have overseen 😄
@Mattze0815 : Would be great if you can give it a t

[2020-12-14 22:50] corneliusmunz commented on #44
Hi @theohm ! Thanks for your feedback and thanks for opening your first issue 👏 ! I highly appreciate any feedback on the library 👍

I also spotted some unreliable behaviour in playing sounds for the duplo train hub. I will have a more deeper look on that issue. I will try it out with another library (.net and node) and see if the behaviour is better. Which ESP32 board do you use? Your *.ino sketc

[2020-12-14 22:51] corneliusmunz commented on #41
@fvanroie thanks so much for your detailed description and for the guidance in that direction. I will try it out in the next days

[2020-12-15 22:52] corneliusmunz commented on #42
Issue will be fixed with the newest library release: https://github.com/corneliusmunz/legoino/releases/tag/1.0.3

[2020-12-15 22:52] #42 closed

[2020-12-16 20:15] corneliusmunz commented on #41
@fvanroie I have tested it too and it works without blocking if adding a callback to the start method. I have tried it even with a `nullptr` as callback and it works.
[code]
We don't need the callback with the `NimBLEScanResults` so even the nullptr should be fine. What do you think?

[2020-12-16 23:04] corneliusmunz commented on #41
Fixed with commit https://github.com/corneliusmunz/legoino/commit/56847d63bcbe010480c6b37a84ccdcc8a9d538aa and published with release https://github.com/corneliusmunz/legoino/releases/tag/1.0.4

[2020-12-16 23:04] #41 closed

[2020-12-16 23:16] fvanroie commented on #41
Great, I didn't even consider passing a nullptr but they seem to handle that case as well. So it's even easier then I thought!
While you can just use it like this, I think the actual implementation goes together with issue: Make connection flow easier #38.

I currently have a project that handles 9 hubs that connect, disconnect and reconnect at random times. I used tasks to get around the blocking

[2020-12-17 16:35] corneliusmunz commented on #41
@fvanroie  You are right. Non blocking is fine but also evil 😉

I think of a `HubManager` class who will initiate the scan process by itself with his own callback. Then the `HubManager` can use the `Lpf2Hub::connectHub` method to connect to individual hubs which are added to the HubManager.  Maybe the `HubManger` can even do a automatic hub discovery and add each available lego hub automatically.

[2020-12-17 20:17] fvanroie commented on #41
I like the idea of a HubManager class! I'm not a fan of a Discovery mode, it sounds it would be blocking other code execution.
Idealy scan and system mode could run concurrently:
- While scanning, connect a hub as soon as it is found (and validated).
- Notify the app with a callback, if specified, for initialization of Ports & Property callbacks etc...
- Continue scanning until the scan time expir

[2020-12-19 22:38] jcmeier commented on #37
Hello,

thanks for your efforts so far. I played around a bit with the Hub feature and the PoweredUp app on Ios. It works quite well, but   did I understand it is a bit limited at the current point?

The train controls works quite fine, and I can see then in the serial console of the ESP 32. But a freely created control I do not get up and running.

[2020-12-21 11:30] tthiery commented on #37
@WilixLead I added the traces for the Color Sensor and the Distance sensor to [sharpbrick/docs project](https://github.com/sharpbrick/docs). However, I have not analyzed them yet.

[2020-12-21 23:20] corneliusmunz opened #45 "Add support for Mario Hub (#71360)"
Add support for Mario Hub (set number #71360)

* Gesture Sensor
* Pants Sensor
* Color/Barcode Sensor

Source of knowledge:
* https://github.com/bricklife/LEGO-Mario-Reveng
* https://github.com/sharpbrick/powered-up
* https://github.com/sharpbrick/powered-up/issues/91

[2020-12-21 23:23] corneliusmunz commented on #45
The new features are implemented on the develop branch in the commit https://github.com/corneliusmunz/legoino/commit/3d537c6a70a5c008bb7f82627bca6e3f5b065fc0

Would be great if someone could test the example `Mario.ino` sketch 😄

[2020-12-21 23:31] corneliusmunz commented on #37
@jcmeier Currently the feature is more like a "beta" feature and supports only the PoweredUp Hub (Train) and the lego technic hub. Could you describe the control you want to implement and what are in detail the problems with your sketch? Maybe i can help you

[2020-12-22 09:29] corneliusmunz commented on #45
Fixed with release https://github.com/corneliusmunz/legoino/releases/tag/1.1.0

[2020-12-22 09:31] corneliusmunz commented on #44
@theohm Have you tried the example `*.ino` sketch which i have send to you? Was it better with removing the delays out of your sketch?

[2020-12-22 10:35] corneliusmunz commented on #45
@tthiery, @bricklife I have seen in the app, that you can control the volume of the mario loudspeaker but i found no "volume" hub property or port. I found during the connection procedure, that a HubProperty with reference code `0x12` was requested and the hub answered with `0x06, 0x00, 0x01, 0x12, 0x06, 0x64` In that case the Mario was set to 100% volume via the app and maybe `0x64` could be the

[2020-12-22 13:34] bricklife commented on #45
Yes, `0x12` is the undocumented property reference of volume. You can set a value (as volume %) with a command `06 00 01 12 01 xx`.

[2020-12-22 13:49] corneliusmunz commented on #45
@bricklife cool! Thanks for your fast feedback. Then i will implement it in the library

[2020-12-22 23:28] Mattze0815 opened #46 "Unable to connect multiple hub since release 1.0.4"
Hi @corneliusmunz,
we appreciate the non-blocking connection procedure introduced with release 1.0.4. This is a great improvement, thank you very much for that.

We have experienced the following problem:
- We want to connect to multiple hubs.
- You call init() for multiple hubs BEFORE the hubs actually connect to the PC.
- Only the last hub that was initialised will be connected, not the other on

[2020-12-22 23:28] Mattze0815 commented on #46
FYI;: problem also exists in 1.1.0.

[2020-12-22 23:34] corneliusmunz commented on #46
Hi @Mattze0815 ! Yes.. unfortunately that behaviour is strictly related to the "non blocking" behaviour. I think that is good but also "evil" I have discussed this with @fvanroie: https://github.com/corneliusmunz/legoino/issues/41#issuecomment-747098217 I think i will revert the non blocking behaviour because it needs a very complicated logic to detect if scans are already ongoing and unfortunatel

[2020-12-22 23:37] corneliusmunz commented on #46
@Mattze0815 Maybe i will add a optional parameter to enforce non-blocking scans but not as a default behaviour. I am currently working on a `HubManager` which will have the logic and boilerplate inside if you want to have a system with different hubs: https://github.com/corneliusmunz/legoino/issues/41#issuecomment-747554701

[2020-12-23 00:14] fvanroie commented on #46
I can make a post of my multi-hub project. The code is not pretty but it works with both scan methods.
Or if you add me to the mattzo-controller repo, I'll have a look!

[2020-12-23 06:57] corneliusmunz commented on #46
@fvanroie would be great if you could send me your working example or post it here.

[2020-12-23 08:56] Mattze0815 opened #47 "Callback functions for connection status"
Hi @corneliusmunz,
would it be able to introduce some handy callbacks for the following events?

1.
connecting(): hub is connecting

2.
connected(): hub has been connected. Might only be useful if .connect() is converted into a non-blocking function as well.

3.
disconnected(): hub has disconnected

Keep up to good work!

[2020-12-23 09:01] Mattze0815 commented on #46
Hi guys, your answers are much appreciated, thank you.

I would very strongly wish to keep the non-blocking connectivity feature, even wish the present limitation. I have build a work around, and it appears to work quite stable. It's just not very elegant.

@fvanroie, I will add you to MattzoBricks shortly and give you some instructions of were to look. Thanks in advance!

[2020-12-23 16:26] fvanroie commented on #46
I have uploaded my [PUp TrainController](https://github.com/fvanroie/PUp-TrainController) project as a github repo. The main interest is in [`ble_setup()`](https://github.com/fvanroie/PUp-TrainController/blob/5ec6be6f0b1c82e0ecb0ecbb2b4d19d73ad5d739/src/lego_ble.cpp#L499) and [`ble_hub_task()`](https://github.com/fvanroie/PUp-TrainController/blob/5ec6be6f0b1c82e0ecb0ecbb2b4d19d73ad5d739/src/lego_b

[2020-12-23 16:36] fvanroie commented on #47
Indeed I think these callbacks will be very handy in a simplified flow. I proposed these as well in [another comment proposal](https://github.com/corneliusmunz/legoino/issues/41#issuecomment-747677785) for the HubManager feature. This was in relation to *Make connection flow easier #38*.

I haven't looked at the new HubManager class yet, but I think these callbacks would align with that new featur

[2020-12-23 16:40] Mattze0815 commented on #46
@fvanroie, access granted.

Look for the MattzoController/MTC4PU folder. You need to copy the MattzoController/libraries/MattzoBricks folder to your Arduino library folder.

Connecting multiple hubs is possible (successfully tested with 8 concurrently connected hubs), but they need to be connected exactly in the order as specified in MTC4PU_Configuration.h.

Enjoy the fun: https://github.com/Mattz

[2020-12-23 19:37] theohm commented on #44
@corneliusmunz Sorry, I missed your message with the new sketch. How did you send it?

Removing the delay from my `*.ino` sketch would also disable debouncing of the buttons, so I did not completely remove it, but reduce it from 200 to 10. That did not change the behaviour.

Then I saw that there is a new Legoino version avaiblable in the Arduino IDE. So i updated to Legoino 1.0.2, which improved

[2020-12-23 19:48] corneliusmunz commented on #44
@theohm I have send you a mail with the sketch... maybe it is in the spam folder

[2020-12-23 20:18] corneliusmunz commented on #44
Hi @theohm
i have had a look on your sketch and added the following sketch as example with the JC_Button library (just rename it to *.ino):
[DuploHornButtonTest.txt](https://github.com/corneliusmunz/legoino/files/5736964/DuploHornButtonTest.txt)
With this sketch almost every event will trigger a sound. Sometimes it does not work but i think this only happens if a sound already is playing on the hu

[2020-12-23 20:23] corneliusmunz commented on #47
@fvanroie @Mattze0815 I will try to consider this feature request in the work on the HubManager class. Unfortunately i found not so much time till now but during the holidays i will try to tackle this 😄

[2020-12-23 23:26] corneliusmunz opened #48 "Add configurable option to set BLE Power level"
It would be good to enable the user to set the BLE Power level without calling NimBLE-Arduino functions. Maybe the default levels could be changed from -3dB to +9dB

The power levels for scan, advertisment and default could be changed with the static NimBLE-Arduino function
`void NimBLEDevice::setPower(esp_power_level_t powerLevel, esp_ble_power_type_t powerType)`

With `esp_power_level_t`
[code]

[2020-12-24 19:18] fvanroie commented on #48
Good idea!

I don't have much data I'm afraid, I only included that line because the HubRemote Led was sometimes blinking when bad reception. This annoyed/distracted me, so I upped the power level of the ESP32 😄 .

[2020-12-25 22:52] StefansProjects opened #49 "Please use scoped enums throughout Lpf2HubConst.h"
Perhaps you could use scoped enums throughout Lpf2HubConst.h. Especially the Color enum (values) colides with other similar definitions and scoped enums would help to keep the code interoperable with other libraries.

[2020-12-29 08:37] smotek opened #50 "HUB emulation PORT A"
Hi,
legoino is a perfect project, thank you.
I have a problem with HUB emulation.
HW I use NodeMcu WROOM-32
I monitor the data on a serial monitor.
Everything is OK for PORT B.
For HUB LED it is OK.
But I don't get any data for PORT A.
Who could be the problem?
Will emulation also be available for TechnicHUB?
Thank you

[2020-12-30 08:12] d0m1n1qu3 commented on #37
Is it possible to controll the Emulated Hub with the LEGO Train WirelessController? that would be cool for me 😎👍🏻

[2021-01-06 21:30] corneliusmunz commented on #50
Hi @smotek ! First the emulation should work for the TechnicHUB and the TrainHUB but right now only for the train motors. I am developing a new version where more motors and also sensors are supported. Regarding your problem of port A. Maybe you have to increase some delays a littlebit. I sometimes see that the command/response messages was not exchanged correclty and the app then does not recogni

[2021-01-06 21:36] corneliusmunz commented on #49
Hi @StefansProjects Thanks for reporting that issue. I have done it for other enums but i have missed that in the "breaking" change from 0.x.x to 1.0.0 Now if i will change it it will be another breaking change. But i will do it if the next "big" change will occur

[2021-01-06 21:51] smotek commented on #50
Hi corneliusmunz thanks for the info.
I probably found it in the code Type Hub I should use CONTROL_PLUS_HUB
and add rows to the loop for C and D.

To fix PORT A, I should try to change the times in the loop
port detection? (1000 ms)
Thank you

[2021-01-06 21:59] corneliusmunz commented on #50
Hi @smotek yes... you should initialize the object like the following
[code]

And for the Port A, just try to change the delays in the following section (decrease it and increase it):
[code]

[2021-01-06 22:03] smotek commented on #50
If I use
Lpf2HubEmulation myEmulatedHub ("TrainHub", HubType :: CONTROL_PLUS_HUB);
reports error for rows
myEmulatedHub.attachDevice ((byte) PoweredUpHubPort :: C, DeviceType :: TRAIN_MOTOR);
     delay (1000);
myEmulatedHub.attachDevice ((byte) PoweredUpHubPort :: D, DeviceType :: TRAIN_MOTOR);
     delay (1000);

    error: 'C' is not a member of 'PoweredUpHubPort'

delay for A test

[2021-01-06 22:40] smotek commented on #50
PORT A  solved

 myEmulatedHub.isPortInitialized = true;
     delay(1000);
 myEmulatedHub.attachDevice((byte)PoweredUpHubPort::A, DeviceType::TRAIN_MOTOR);

 added line delay
 You can fix the example file

[2021-01-06 22:53] corneliusmunz commented on #50
If you want to use the CONTROL_PLUS_HUB you have also to use the Port definitions in the enum `ControlPlusHubPort` So the line of the attachDevice should look as follows:
[code]

[2021-01-06 22:55] corneliusmunz commented on #50
@smotek Regarding the delays: In the current version the delays are already adjusted. Which version of the library do you use?

[2021-01-07 08:48] smotek commented on #50
Downloaded library 9 days ago.
The problem is not in the library, but in the HubEmulation example.
![image](https://user-images.githubusercontent.com/5411807/103870943-aebb6800-50cc-11eb-8c2f-004aeabe8869.png)

function
![image](https://user-images.githubusercontent.com/5411807/103870895-9b100180-50cc-11eb-937f-12eb76423ff6.png)

After editing to ControlPlusHubPort, ports A - D work

Another quest

[2021-01-07 10:57] corneliusmunz commented on #50
The `PowerFunctionsPort::RED` is addressing the "RED" IR channel on the power functions IR receiver. There is a RED and a BLUE channel on the receiver available. The example receives signals from the PoweredUp App and forwards it per IR LED and the PowerFunctions methods to the IR receiver.

[2021-01-07 11:09] smotek commented on #50
Now I understand
I forgot that the example sends an IR to an old cube.

[2021-01-19 15:04] tintamarre commented on #18
For reference, you can use this project : https://github.com/hoharald/leguno-remote

[2021-02-18 17:23] Se1616 opened #51 "Core 1 panic'ed"
I am using an M5Stack 2020 Atom Matrix ESP32 PICO
This is my first project. I built a remote control for the hub. This is already running.
I noticed 2 problems in the function init ().
Problem 1:
Sketch 1:

void setup() {
  Serial.begin(9600);

  IrReceiver.begin(22, true);
  myHub.init();
}

void loop() {

}

This leads to the following crash:

V⸮⸮1
l+⸮⸮0⸮f⸮⸮⸮⸮,lYK⸮j
녑:0x&⸮⸮⸮⸮⸮leK⸮044C!⸮+⸮⸮0x

[2021-03-07 08:37] fredlcore opened #52 "Example to directly control Duplo train?"
First of all: Thanks for this great library! I'm relatively new to these "new" Lego Duplo trains and was looking a way to control them via my ESP32 instead of the Lego App.
I'm just a bit confused about the concepts of "(Train)Hubs" and therefore not sure which example I could use as a starter to control our son's Duplo train to make it drive forward/backwards/stop/fill up etc.
Also how to figure

[2021-03-07 15:17] fredlcore commented on #52
I managed to adapt "DuploTrainBase.ino" and it generally works. However, while I receive the speed via parseSpeedometer(), I realized that neiter setBasicMotorSpeed() (and probably also stopBasicMotor() ) work. The port variable is defined as DuploTrainHubPort::MOTOR - is this the correct/only value possible or can I try other ports?
Since it's possible to control the speed via the app, I assume t

[2021-03-07 15:49] fredlcore commented on #52
Ok, it seems that the value is correct because every once in 10 tries, it works. I experience the same erratic behaviour with playing the sounds of the train. The only thing that works reliably is changing the color of the LED. This is the code-snippet I'm using in the DuploTrainBase.ino example after `myHub.isConnected()`:
[code]

[2021-03-07 18:23] fredlcore commented on #52
Ok, I think I found the cause of the problem. It seems that some commands are not received correctly by the train, and interestingly some kind of commands more often than others. Changing the LED seems to be quite reliable while controlling the motor not so much. What I did now is to send each command 10 times in a for-loop.
The only case where this is not feasible is when playing the sounds of th

[2021-03-07 23:59] fredlcore commented on #52
The 10-times for-loop has proven to be mostly reliable (a few drops here and there, but I guess that's fine). I have now written a small train control sketch which can be accessed via the Arduino IDE's serial monitor which I attach to this issue. Feel free to add it to the examples if you like, I'd be honored :).
Thanks a lot again for this great library!

[DuploTrainControl.ino.zip](https://githu

[2021-03-07 23:59] #52 closed

[2021-03-08 10:29] fredlcore opened #53 "Using legoino together with esp32-ps3 not possible?"
I would like to use my old PS3 controller together with legoino and found this library here: https://github.com/jvpernis/esp32-ps3
However, if I use their "Ps3Demo" from the example folder and simply add
[code]
at the top of the file and
`myHub.init()`
in the setup() function, the script either crashes with this message if I add the init() function after the PS3-related calls:
[code]
Or throws thi

[2021-03-09 07:44] corneliusmunz commented on #52
Hi @fredlcore Sorry for the late delay and many thanks for your feedback! You have found the correct Example sketch `DuploTrainBase.ino` 👍 Cool idea to control the Train via the IDE's serial monitor. I will test it on my side and try to add it in the next release. So thanks for that contribution.

Regarding the loop of commands i have some concerns. Normally the BLE connection is quite fast but if

[2021-03-09 08:03] corneliusmunz commented on #53
Hi @fredlcore Again a cool idea 😄 I have had a short look into the https://github.com/jvpernis/esp32-ps3 library and i think it is a problem of the BLE stack. Legoino uses the following BLE Library https://github.com/h2zero/NimBLE-Arduino and the ps3 library uses the Bludroid stack with a own implementation of the GATT protocol. I think these two libaries does not fit together and wants to access

[2021-03-09 08:09] fredlcore commented on #53
Thanks for the background information, @corneliusmunz! It would be really cool to get this working on one and the same ESP32 because now I have to make two ESP32s talk via serial to each other, one is handling the PS3, the other one the Legoino part. It works quite well, but it's of course a waste of resources and also (electrical) power. The great thing about this solution is that I can just put

[2021-03-09 08:13] corneliusmunz commented on #53
@fredlcore Another possibility (which i have used for my kids) is the usage of the Lego PoweredUp remote control which is shipped with the Lego trains (https://www.lego.com/de-de/product/remote-control-88010) . This is quite cheap and you can use it with legoino to control different devices. You can find a example here: https://github.com/corneliusmunz/legoino/blob/master/examples/PoweredUpRemote/

[2021-03-09 08:15] fredlcore commented on #52
Thanks for the feedback, @corneliusmunz, I'm now using a workaround that I will send the speed parameter periodically every 100ms, so it's not flooding too much but also fast enough so that dropped commands will not likely be noticed. The problem remains with changing the lights and sounds because you can't continually send these commands.
OTOH, I have not experienced problems with an overflowing

[2021-03-09 08:18] fredlcore commented on #53
That's also a good option, but it doesn't seem to have an analog control, does it? That is one of the really cool features of the PS3 controller because it makes the train behave more like a real train where it stops when you let go of the stick.
But I think I'll get one of those as well because they fit in more nicely :)...

[2021-03-09 09:07] fredlcore opened #54 "Using several Lpf2Hub instances possible?"
First of all, I'm not sure if this is a doublette of #46 - if so, feel free to close this right now.
I'm trying to connect my ESP32 to two Lego Duplo trains. The way I'm doing this is that I setup an array of Lfp2Hub objects like this:
[code]
and then send all of them into init mode in setup():
[code]
Subsequently, I can cycle through them in a for-loop:
[code]
However, this only works for the fir

[2021-03-10 11:08] fredlcore opened #55 "Color detection very "sensitive""
I have not been able to emulate satisfactingly the behavior of my Duplo train when it comes to playing sounds based on the color tiles. The color scanner not only sends the color when driving over a tile, but now also reacts to any changes in the floor texture where the tracks are being laid out. For example, we have a wooden floor and this is often detected as "yellow" and therefore activates the

[2021-03-10 14:30] corneliusmunz commented on #54
Hi @fredlcore! Connecting to multiple hubs is defenitely possible. Up to now you can have a connection to up to 9 hubs from one esp32. If you want to use more than three hubs, you have to configure the NimBLE-Arduino lib according to the followin procedure: https://github.com/corneliusmunz/legoino#connection-to-more-than-3-hubs

You can find ab example of connections to multiple hubs in the follow

[2021-03-10 19:10] fredlcore commented on #54
Thanks for the detailed feedback!
I'm not sure if I understand the blocking/non-blocking matters correctly, but looking at the code in `TwoTrainHub.ino`, I'm wondering whether it is not possible to send all three inits at the same time, like here: https://github.com/fredlcore/PS3-Lego-Duplo-Train-Control/blob/08bd8fa5e5a7657427cfdf943890201ffecae241/DuploTrainControl/DuploTrainControl.ino#L124-L12

[2021-03-17 13:53] M9lab opened #56 "Continuos reboot"
Hi all,
after a white i came back to work on my project (last time i used ver 1.0.1 and everything works fine).
If i update the library (any verson > 1.0.1) the system reboot continuously.

abort() was called at PC 0x4011ec63 on core 1

ELF file SHA256: 0000000000000000

Backtrace: 0x4008ebdc:0x3ffc6ba0 0x4008ee59:0x3ffc6bc0 0x4011ec63:0x3ffc6be0 0x4011ecaa:0x3ffc6c00 0x4011f689:0x3ffc6c20 0x4011e

[2021-04-02 22:15] fredlcore commented on #55
Maybe I should rephrase my question: Is it possible to continuously query the color sensor? The callback function on the one hand moslty seems to be called only when there is a change of color, but there are exceptions where the same color is reported back to the callback function. To use some kind of hysteresis, it would be good if one could query the color register every x milliseconds and then

[2021-04-05 20:01] fredlcore opened #57 "Best approach to test if connection is still active?"
I would like to detect whether and established connection is still active or whether the device (here: Duplo train) has been turned off. So far, if I turn off the device, `myHub.isConnected()` continues to evaluate as true.

Is there some kind of variable or characteristic I can read that is continuously updated and from which I can detect whether the connection is still active? Or can I send a co

[2021-04-05 22:09] fredlcore opened #58 "Add a status variable/function to determine whether a non-blocking scan is still active"
The default duration for a scan is 10 seconds. If you start the ESP32, it will scan for that duration for any kind of device, but not after these 10 seconds. So if you turn on your device after that period, it won't connect unless you restart the ESP32.
If one could test whether the non-blocking scan is over, one could restart the scan by calling myHub.init() again afterwards.

I tried to add the

[2021-04-05 22:19] fredlcore commented on #57
Hm, after a bit more testing, it seems that isConnected() seems to be switching relatively quick to `false`once I have turned of the connected device, so that should do what I want/need. Nevertheless, if there are any other things to make this process more reliable, I'm happy to hear!

[2021-04-05 22:19] #57 closed

[2021-04-05 22:26] fredlcore commented on #54
I just figured out the reason why my code was not working properly: I assumed that after issuing an ìnit()`, the scan would continuously run until a connection was made. In all these tests, it probably took me more than 10 seconds (the defaul scan duration) to start both Duplo trains, so only the first one got connected. Now that I re-issue `init()` every 11 seconds, it works and I can control bot

[2021-04-06 11:21] corneliusmunz commented on #55
Hi @fredlcore. Thanks for reporting that issues. Maybe i used the wrong Mode for detecting the color sensor values. The available Modes are described in the following documentation : https://github.com/sharpbrick/docs/blob/master/devices/duplotrainbasecolorsensor.md

The modes for which the different hardware devices are currently hard coded in the following function:
https://github.com/corneliusm

[2021-04-06 11:43] fredlcore commented on #55
Thanks, @corneliusmunz! It works! At first I was disappointed because it didn't recognize any color changes, but it seems to be that the train has to be moving (before I was just holding the tile over the sensor). Now there is no jittery and then I also don't need to query the sensor. Thanks a lot!

[2021-04-06 11:43] #55 closed

[2021-04-06 11:48] corneliusmunz commented on #55
I will change the Mode in the next version of the library

[2021-04-06 11:54] fredlcore commented on #55
Thanks!

[2021-04-06 14:02] corneliusmunz commented on #57
Hi @fredlcore !  Thats so far exact the procedure i used.

1. check if `myHub.isConnected() == false`
2. call myHub.init()

I have used this in the `TwoTrainHubs.ino` example sketch in the main loop: https://github.com/corneliusmunz/legoino/blob/434b74fe6717640a9d054ef7533d68c764e33a5d/examples/TwoTrainHubs/TwoTrainHubs.ino#L145

Btw, if you like the library i would be happy if you give me a :star

[2021-04-06 14:36] corneliusmunz commented on #58
You can increase the scan time by using the `void init(uint32_t scanDuration);` overloaded init function with `scanDuration` in seconds. If you want to use the callback function if a scan has ended, you have to Subclass the callback function and give the hub instance as a parameter to the subclassed function to "remember" the instance which has initiated the scan process. The same was done for the

[2021-04-06 15:43] fredlcore commented on #58
Great, thanks, my object oriented knowledge is not too extensive, but I think I know what you say and it's exactly what I need. Can I somehow subclass the callback function in my own code somehow so that it is used instead of the one provided in your library? Or do I have to modify your library source code (which I would like to avoid)?

[2021-04-06 17:25] corneliusmunz commented on #58
You can do this in your own code but you have to adapt the library to use your implementation of the callback function in the following line:
https://github.com/corneliusmunz/legoino/blob/434b74fe6717640a9d054ef7533d68c764e33a5d/src/Lpf2Hub.cpp#L823

So you can try it locally but i will think of an additional feature to use the scan ended callback and expose a `_isScanning` property in the library

[2021-04-07 07:44] fredlcore commented on #58
Of course I don't want to take up any more of your time if I can do it myself, @corneliusmunz - I think I know how to expose _isScanning, my only stumbling block is that I don't really understand in which namespace "scanEndedCallback" resides. It's apparently not in the Lpf2Hub namespace, because if I declare _isScanning as a class variable, I can use it within other Lpf2Hub methods, but not insid

[2021-04-07 09:22] fredlcore commented on #58
Ok, I managed to solve the problem myself :) - not via the callback function (that one is still beyond my comprehension), but I figured out that BLEScan already provides a isScanning method that we just need to make public. My PR #60 makes these little changes and should hopefully work without any problems. At least it does here :).

[2021-04-07 09:35] fredlcore commented on #58
@corneliusmunz: Some of the CI tests fail, but according to the logs, that does not seem to have to do with my code, I guess...

[2021-04-07 14:15] fredlcore commented on #54
@corneliusmunz: I now found a solution that works with non-blocking scan and gives you the freedom to initialize up to nine hubs without adding extra code - just by [going through a loop using an array](https://github.com/fredlcore/PS3-Lego-Duplo-Train-Control/blob/414c127ea7b6d1c4c95b018c85ac1b1dc2a55692/DuploTrainControl/DuploTrainControl.ino#L171-L174):
[code]

Later on, in the loop() function,

[2021-04-07 18:01] fredlcore commented on #57
Starred it is :)!

[2021-04-09 09:26] fredlcore opened #61 "Why use "enum struct" instead of "enum" for DuploTrainBaseSound?"
https://github.com/corneliusmunz/legoino/blob/434b74fe6717640a9d054ef7533d68c764e33a5d/src/Lpf2HubConst.h#L224

For `Color` you use an enum which makes code much easier to read as you can just use `RED` or `CYAN` to refer to the respective colors. For the sounds, we have to write `DuploTrainBaseSound::BRAKE` which makes reading a bit more clumsy. It's of course nothing major and maybe I just overl

[2021-04-12 20:49] tamboekie commented on #56
I have had the same experience. I tried it with v1.1.0 and got the same result as @M9lab. Then I downgraded to v1.0.1 and the resets seem to have stopped. However, I'm fairly certain the sketch (PoweredUpRemoteAutoDetection example) did not work. My board is a generic ESP32 development module. Using Arduino IDE 1.8.13 on Ubuntu 20.04, NimBLE-Arduino 1.2.0

[2021-08-15 20:48] Chris-Rodrigues commented on #50
Hello! Congratulations to all persons who are working on this project. Very nice.
Smotek helped me in other forum with this code so I found this forum now. Thanks Smotek.

I succefully ran Lpf2HubEmulation and now I'm trying to emulate two or more hubs in just one ESP32.
I still have a lot of free pins from ESP32 and using one app I want to emulate more hubs to control more things at same screen.

[2021-10-06 19:28] paki111 commented on #50
@Chris-Rodrigues interesting idea, but this may be not posible on one MAC address.  I think the solution for having more ports (6 vs 4) is to implement support for Spike Prime Hub. What do you think @corneliusmunz ?
BTW @corneliusmunz thank's you for great library!

[2021-10-06 21:18] corneliusmunz commented on #50
@Chris-Rodrigues I have never tried this and I am not sure if the NimBle library does support multiple connections. If you use the library to connect to other hubs it ist possible to have up to 9 connections at the same time. But I have never tried it the other way round. Maybe I will find some time in the next days to try it out

[2021-10-24 14:48] paki111 opened #62 "HubEmulation and PoweredUpRemote at a time"
I combined HubEmulation and PoweredUpRemote functionality in one sketch. Now I can controll my esp32 with PoweredUp controller and at the same time in PoweredUp app I can connect emulated hub but controlls from the app doesn't work.

Every functionality separetely works fine, but in tandem only PoweredUpRemote works.

[2021-11-29 13:54] yokohtan commented on #62
Nice to meet you. I always enjoy using this wonderful library. This library doubles the fun of Lego.
By the way, I'm trying to build an assist function for an excavator, and I'm trying to intervene with an ESP32 between the smartphone Lego app and the Technic hub. the connection between the three is complete, but when I send a command to the motor, the ESP32 crashes.
I've attached the code if you'

[2021-12-03 10:00] manuelm commented on #44
Hi there.

I recently build a remote control for my kid and noticed the same. Sound and color commands are unreliable and only work at about 2 out of 3 commands. However motor commands work all the time. So I looked at the bluetooth command bytes and noticed that motor commands are one bluetooth 0x81 port output command vs sound/color are two (an additional 0x41 port input format setup). I then sp

[2021-12-03 13:58] corneliusmunz commented on #44
@manuelm Many thanks for that finding! 👏 👍 Very good question why i have implemented this in that way. I think i have used the implementation of https://github.com/nathankellenicki/node-poweredup/blob/master/src/devices/duplotrainbasespeaker.ts as a basis but here the state of the activated mode is checked and if the mode is equal to the current mode, no message is sent out. So maybe i will change

[2021-12-03 14:03] manuelm commented on #44
Sure. Just make sure to not send both commands without a short delay. Wasn't reliable otherwise (using an esp32).

[2021-12-06 10:17] theohm commented on #44
Thanks @manuelm for your solution!
@corneliusmunz: Will you eventually patch Manuels code into the official release?

[2021-12-06 10:43] corneliusmunz commented on #44
@theohm I have already a local fix which is very similar to the solution from @manuelm  I have to do some additional testing but I will definitely release it hopefully in the next days

[2021-12-15 21:41] ThorstenBenter opened #64 "Bug in LPF2Hub.cpp"
Hi Cornelius,
I tried to get in touch with you on the Eurobricks Forum (https://www.eurobricks.com/forum/index.php?/forums/topic/180905-new-version-100-of-legoino-arduino-library/&do=findComment&comment=3478705) - but I am sure you have simply so many other things to do.
Just to make sure: Legoino is my absolutely favorite software, when it comes to PF and PF2 control. It does not get >any< better

[2021-12-16 11:41] corneliusmunz commented on #64
Hi Thorsten (@ThorstenBenter)! Many thanks for reaching out via GitHub 👍  I will check about the different commands for the Tacho motors. Very good finding! On the time i have implemented this i was not really able to test it with the appropriate hardware.
Can you share your adaptions to your code in your cpp files? I have some other open issues and hopefully during christmas holidays i will find

[2021-12-16 13:27] ThorstenBenter commented on #64
Hi Cornelius (@corneliusmunz ),
thank you for your swift reply! That would be very nice - however, holiday are holidays for a reason ;)
I am absolutely happy to share what I have changed - but there are now stupid comments in the files ... as said, I feel comfortable with assembler for (>very< small) RISC microcontrollers or - well - BASIC :D What would be a good way to get the files to you? I am

[2021-12-16 19:24] ThorstenBenter commented on #64
Hi Cornelius (@corneliusmunz)
I have assembled all the stuff that may or may not be of help with regard to
a) the motor commands and
b) color changes
c) the isScanning function as suggested by @fredlcore

(1) Changes.txt is just my personal log to keep track of things I did to original files
(2) Keywords.txt is just having the isScanning keyword added
(3) LPF2Hub.cpp/h are the files I am currently

[2022-01-08 11:02] corneliusmunz commented on #58
@fredlcore fixed with your PR #60

[2022-01-08 11:02] #58 closed

[2022-01-09 00:38] corneliusmunz commented on #64
Hi  Thorsten! (@ThorstenBenter),
i have reviewed, evaluated and tested your changes and created a feature branch with my changes. I have almost copied all changes from your files but have made some small adaptions. For compatibility reasons I have kept the "stopTachoMotor" and "stopBasicMotor" stuff and also the setBasicMotorSpeed (even if this makes no sense as you have perfectly described it in

[2022-01-09 07:06] fredlcore commented on #64
@ThorstenBenter: cool project! And even cooler that you used your Specci :) - I'm an 8-bit enthusiast as well (coming from Atari), and maybe just as an idea if you want to open your project for people without the interface 1: it's fairly easy to communicate with an Arduino/ESP from an 8-Bit computer using any kind of joystick port or user interface. I've made a little project called AtariDuino for

[2022-01-09 13:32] ThorstenBenter commented on #64
Hi Cornelius! (@corneliusmunz)
Happy new year to you and your family as well!
Thank you very much again for looking into this - I really do highly appreciate that. Legoino is super stable (with regard to both PF and PUp) and I am happily coding stuff into my ESP32 using "BASIC C++" style :D To be honest, Legoino allows me not only to continue with my now 21 years long project, but it means anyone

[2022-01-09 13:40] ThorstenBenter commented on #64
@fredlcore Thank you very much!
Oh that sounds very good - I'll have a look! Thank you for that link!
The ZX code is in BASIC. My Z80 assembler capabilities have become a bit rusty over the past 30 years, but I am planning of implementing a couple of small assembler code bits to e.g. speed up critical timing or getting direct access to the 8k screen memory. Back in the olden days (and more recentl

[2022-01-11 08:36] tsochatzki opened #65 "LegoinoCommon.h missing #include "string""
Hi Cornelius,
while trying the trainhub.ino i get the following issue:
In file included from C:\Users\tsoch\sketchbook\libraries\Legoino\src\LegoinoCommon.cpp:11:
C:\Users\tsoch\sketchbook\libraries\Legoino\src\LegoinoCommon.h:30:15: error: 'string' in namespace 'std' does not name a type
   static std::string ColorStringFromColor(Color color);
               ^~~~~~
C:\Users\tsoch\sketchbook\libra

[2022-01-11 19:59] corneliusmunz commented on #65
Hi Thomas (@tsochatzki) Many thanks for that finding! I will check this and add the missing include in the next release

[2022-01-11 20:22] corneliusmunz commented on #65
@tsochatzki  which version of the Arduino Esp32 have you installed? Do you use platform.io as environment or the Arduino IDE itself
<img width="513" alt="arduino_esp32_version" src="https://user-images.githubusercontent.com/8521596/149015622-c51e45a0-1811-4399-95f7-d397b1a6fab6.png">
?

[2022-01-12 11:14] tsochatzki commented on #65
Hi Cornelius,
iam using the Arduino IDE and the following ESP32 Version: 2.0.2

[2022-02-07 10:17] sano23 opened #66 "Problems with Adafuit_SSD1306"
I want to control a little train circuit with sensors and a LCD screen but appears an error
with BLACK variable
#define SSD1306_BLACK 0
Is there a variable BLACK in legoino library? How can I solve?
Thank you

[2022-04-18 21:15] Machow8 opened #68 "Ripping sprites and textures from Lego Mario/Luigi/Peach"
Not an issue, but yes a request: being able to extract sprites/textures that are only visible/usable on their chest, like flag animation among others.

I know the app has similar sprites, but are not equal and they aren't animated as they show up in the toy itself.

Thanks.

[2022-06-27 12:41] inrepublica opened #69 "Use Legoino + M5stack libs"
I'm trying to use your wonderfull lib with m5stack lib on a M5stack "Fire".

When i try:
`
#include "Lpf2Hub.h"
#include <M5Stack.h>
`

I have a lot of errors:
`
Arduino : 1.8.19 (Windows 10), Carte : "M5Stack-FIRE, Enabled, Default 4MB with spiffs (1.2MB APP/1.5MB SPIFFS), 240MHz (WiFi/BT), QIO, 80MHz, 16MB (128Mb), 921600, Core 1, Core 1, None"

In file included from C:\Users\duval\Documents\Ard

[2022-08-04 15:27] Nielceo opened #70 "Problems with getting started following the Quickstart tutorial"
Apologies for probably a basic question. My son and me try to follow your Quickstart tutorial using an M5 ATOM Matrix ESP32 board. When we try to compile the TrainHub program we get the following error messages. Any idea what we do wrong?

Arduino: 1.8.19 (Mac OS X), Board: "Arduino Uno"

WARNING: library Legoino claims to run on esp32 architecture(s) and may be incompatible with your current boar

[2022-08-05 12:51] corneliusmunz commented on #70
Hi @Nielceo! No worries you can just ask :-) This error message means, that you have selected the wrong board in your Arduino IDE (Integrated Development Environment) Here you can find the configuration setup for the ATOM Matrix Esp32 controller: https://docs.m5stack.com/en/quick_start/atom/arduino I think you can start directly in with the section "M5Stack's board management" Hope this will help

[2022-08-06 11:24] Nielceo commented on #70
Great! It works now. Thanks!

Sent from my iPhone

[2022-08-07 06:24] #70 closed

[2022-08-27 11:03] marco-bertani opened #71 "Lpf2HubEmulation - Port A not working"
Hi,

I started playing around with PoweredUp just recently and I came across this awesome project. I am mostly interested un the Hub Emulation.

What I noticed is a weird behaviour with ports and the offcial PoweredUp app:

If I set Port A to TRAIN_MOTOR and Port B to TREIN_MOTOR I get this:
- motor commands to Port A do NOT work
- motor commands to Port B do work
- rgb commands to Hub LED do work

[2022-08-29 19:12] corneliusmunz commented on #71
Hi @marco-bertani ! Many thanks for your interest in this lib. Unfortunately I have not so much time in the last month to spent in the hub emulation feature. It turns out, that sometimes the emulation is not really reliable and I don't figure really out why. Can you share your custom class which analyzes and print out all the message traffic? This would be very helpful. I will try to evaluate your

[2022-08-30 09:45] marco-bertani commented on #71
@corneliusmunz
Thank you for answering. I will definitely share my code as soon as I manage to have something usable. Currently it's not complete and not commented. It is very similar to what you did in `Lpf2Hub::notifyCallback(...)` but I print debug messages instead of parsing them to get a value. Also, it is usable both by `Lpf2Hub` and `Lpf2HubEmulation` since message are the same.

I might co